

.sectionDVideo{
    padding-top: 7rem;
    position: relative;
    margin-bottom: 5rem;
}
.sectionDVideo .gridHeader{
    position: absolute;
    top: 0rem;
    z-index: 0;
    left: -10rem;
}
.sectionDVideo .gridHeader2{
    position: absolute;
    top: auto;
    bottom: -14rem;
    z-index: 0;
    left: 52%;
    transform: translateX(-48%);
    opacity: 0.7;
}
.sectionDVideo .fx-caseStudiescDetails2{
    background-image: url('../images/backWhiteBlue.png');
    background-position: top;
    background-size: contain;
    padding: 70px 0 125px 0;
    gap: 140px;
    background-repeat: no-repeat;
    align-items: center;
}
.sectionDVideo .divVideo{
    width: 50%;
    position: relative;
}
.sectionDVideo .divVideo  .backgroundReels{
    z-index: 0;
    position: relative;
    width: 73%;
    margin: auto;
    display: block;
    height: 100%;
}
.sectionDVideo .divVideo .plyr--video{
 border-radius: 50px;
    width:53.5%;
    margin: auto;
    height: 630.805px;
    margin-top: 3rem;
    top: 0;
    left: 49%;
    transform: translateX(-50%);
    position: absolute;
}
.sectionDVideo .plyr__video-wrapper{height: 100%;}
.sectionDVideo .plyr__video-wrapper iframe{object-fit: cover;}
.sectionDVideo .divText{
    width: 50%;
    padding: 0 0 0 90px;
    z-index: 2;
    position: relative;
}
.sectionDVideo .divText .boxImage{
    padding:2px 10px;
    border-radius: 25px;
    border: 1px solid #0B63E5;
    background: #FFF;
    width: max-content;
}
.sectionDVideo .divText .boxImage img{
    width: 158px;
    height: 75px;
}   
.sectionDVideo .boxDate{
    display: flex;
    padding: 6px 16px;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-radius: 20px;
    background: #FFF;
    margin-top: 24px;
    width: max-content;
}
.sectionDVideo .boxDate img{
    width:17%;
}
.sectionDVideo .boxDate h5{white-space: pre;}
.sectionDVideo h1{
    margin:24px auto;
    line-height: 115%;
}
.sectionDVideo p{
    line-height: 156% ;  
    margin-bottom: 0px;
}
@media (min-width:1706.67px) {
    .sectionDVideo .divText .boxImage img {width: 188px;height: 95px;}
    .sectionDVideo .boxDate{padding: 16px 24px;}
    .sectionDVideo .divVideo .plyr--video {width: 54%;height: 727.805px;}
}
@media (min-width:1920px) {
    .sectionDVideo p{line-height: 50px;}
    .sectionDVideo .divText .boxImage img {width: 198px;height: 105px;}
    .sectionDVideo .divVideo .plyr--video {width: 53%;height: 840.805px;}
    .sectionDVideo .fx-caseStudiescDetails2{    background-position: left top;}
    .sectionDVideo .boxDate{margin-top: 32px;}
    .sectionDVideo h1{margin: 32px 0;}
}
@media (min-width:2048px) {
    .sectionDVideo .divVideo .plyr--video {width: 53%;height: 950.805px;}

    .sectionDVideo .divText .boxImage img {width: 210px;height: 125px;}
}
@media (max-width:1396.36px) {
    .sectionDVideo .fx-caseStudiescDetails2{gap: 100px;}
    .sectionDVideo .divVideo{height: 100vh;}
    .sectionDVideo .divVideo .plyr--video {width: 54%;height: 537.805px;}
    .sectionDVideo .divText{padding-left: 70px;}
}
@media (max-width:1228.8px) {
    .sectionDVideo .divVideo .plyr--video {height: 470.805px;}
    .sectionDVideo .divText .boxImage img { width: 148px;height: 65px;}
    .sectionDVideo .divText{padding-left: 50px;}
}
@media (max-width:1024px) {
    .sectionDVideo .fx-caseStudiescDetails2{gap: 70px;}
    .sectionDVideo .divVideo .plyr--video {height: 383.805px;border-radius: 30px;}
    .sectionDVideo .divText .boxImage img {width: 120px;height: 60px;}
    .sectionDVideo .divText .boxImage{border-radius: 15px;}
    .sectionDVideo .divText{padding-left: 30px;}
}
@media (max-width:877.71px) {
    .sectionDVideo .fx-caseStudiescDetails2{gap: 40px;flex-direction: column;padding: 32px 0 85px 0;}
    .sectionDVideo h1{margin: 16px 0;}
    .sectionDVideo .boxDate{border-radius: 10px;margin-top: 16px;}
    .sectionDVideo{margin-bottom: 0;}
    .sectionDVideo .divVideo{width: 70%;height: 140vh;}
    .sectionDVideo .divVideo .backgroundReels{width: 80%;}
    .sectionDVideo .divText{padding-left: 20px;width: 90%;}
    .sectionDVideo .divVideo .plyr--video {width: 57%;height: 467.805px;}
}
@media (max-width:614.4px) {
    .sectionDVideo{padding-top: 1rem;}
    .sectionDVideo .fx-caseStudiescDetails2{    background-position: left top; background-size: inherit;padding-bottom: 2rem;}
    .sectionDVideo .gridHeader2,
    .sectionDVideo .gridHeader{width: 90%;}
    .sectionDVideo .divVideo{width: 100%;height: 70vh;}
    .sectionDVideo .divVideo .backgroundReels{width: 95%;}
    .sectionDVideo .divVideo .plyr--video {width: 69%; height: 382.805px;}
    .sectionDVideo .divText{padding:0 16px;width: 100%;}
    .sectionDVideo .companyLogo{width: 50%;}
    .sectionDVideo .boxDate{margin-top: 16px;}
}