.caseStudies-one{
    background-color:#EDFBFE ;
    position: relative;
}
.caseStudies-one .line-curve{
    width: 100%;
    height: 100%;
     position: relative;
    z-index: 1;
    position: absolute;
    opacity: 0.3;
}
.caseStudies-one-container{
    height: 100%;
     position: relative;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 10rem 0;
}
.caseStudies-one .fx-caseStudies{
    gap: 120px;
    justify-content: space-between;
}
.caseStudies-one .fx-caseStudies .texts-caseStudies{width: 60%;}
.caseStudies-one .fx-caseStudies .head-caseStudies{margin-bottom: 20px;gap: 10px;}
.caseStudies-one .fx-caseStudies .texts-caseStudies span{
    color: #00CFFF;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}
.caseStudies-one .fx-caseStudies .texts-caseStudies h1{
    color: #061C3D;
    font-size: 80px;
    line-height: 90px;
    margin-bottom: 40px;
}
.caseStudies-one .fx-caseStudies .img-caseStudies{width: 40%;}
.caseStudies-one .fx-caseStudies .img-caseStudies img{
    width: 100%;
    height: 640px;
    object-fit: cover;
    border-radius: 20px;
    border: 5px solid #00CFFF;
}
.caseStudies-one .btn-outline-blue{
    border-radius: 999px;
    width: 158px;
    height: 60px;
    font-size: 19px;
    white-space: pre;
}
@media (min-width:1706.67px) {
  .caseStudies-one .fx-caseStudies .texts-caseStudies h1{ font-size: 90px; line-height:100px;}
  .caseStudies-one .fx-caseStudies .img-caseStudies img{height: 680px;}
  .caseStudies-one .fx-caseStudies .texts-caseStudies span{font-size: 16px;}
   .caseStudies-one .btn-outline-blue{width: 178px;height: 60px;font-size: 21px;}
}
@media (min-width:1920px) {
   .caseStudies-one .btn-outline-blue{width: 198px;height: 65px;font-size: 23px;}
}
@media (min-width:2304px) {
    
}
@media (min-width:2048px) {

}
@media (max-width:1396.36px) {
    .caseStudies-one .fx-caseStudies .texts-caseStudies h1{ font-size: 70px; line-height:80px;}
    .caseStudies-one .fx-caseStudies{gap: 90px;}
    .caseStudies-one .fx-caseStudies .img-caseStudies img{height:580px ;}
    .caseStudies-one .btn-outline-blue{width: 138px;height: 50px;font-size: 17px;}
}
@media (max-width:1228.8px) {
    .caseStudies-one .fx-caseStudies{gap: 80px;}
    .caseStudies-one .fx-caseStudies .img-caseStudies img{height:520px ;}
        .caseStudies-one .fx-caseStudies .texts-caseStudies h1{ font-size: 60px; line-height:70px;}
    .caseStudies-one-container{padding: 10rem 0 5rem 0;}
     .caseStudies-one .btn-outline-blue{height: 45px;font-size: 17px;}
}
@media (max-width:1024px) {
    .caseStudies-one-container{padding: 8rem 0 4rem 0;}
    .caseStudies-one .fx-caseStudies .texts-caseStudies h1{ font-size: 50px; line-height:60px;}
    .caseStudies-one .fx-caseStudies .img-caseStudies img{height:450px ;}
     .caseStudies-one .btn-outline-blue{height: 40px;font-size: 15px;width: 118px;}
}
@media (max-width:877.71px) {
    .caseStudies-one .fx-caseStudies{gap: 50px;}
    .caseStudies-one-container{padding: 7rem 0 4rem 0;}
    .caseStudies-one .fx-caseStudies .img-caseStudies img{height:380px ;}
}
@media (max-width:768px) {
    .caseStudies-one-container{width: 100%;padding: 7rem 20px 4rem 20px;}
    .caseStudies-one .fx-caseStudies .texts-caseStudies h1{ font-size: 40px; line-height:50px;}
    .caseStudies-one .fx-caseStudies .img-caseStudies img{height:300px ;}
}
@media (max-width:614.4px) {
     .caseStudies-one .fx-caseStudies{flex-direction: column;}
    .caseStudies-one-container{padding: 4rem 20px 4rem 20px;}
    .caseStudies-one .fx-caseStudies .texts-caseStudies{width: 100%;}
    .caseStudies-one .fx-caseStudies .img-caseStudies{width: 100%;}
    .caseStudies-one .fx-caseStudies .img-caseStudies img{height:350px ;}
}
@media (max-width:512px) {
}
/* Case Studies Details */
.caseStudies-details{
    width: 70%;
    margin: 40px 0 60px 0;
}
.caseStudies-details .imageTop{
   object-fit: contain;
   margin-bottom: 40px;
}
.caseStudies-details-container{
    padding: 0 50px;
}
.caseStudies-details img{width: 100%;object-fit: contain;}
.caseStudies-details h2{
    overflow: hidden;
    color: #061C3D;
    text-overflow: ellipsis;
    font-size: 35px;
    line-height: 60px;
    margin-bottom: 1rem;
}
.caseStudies-details p{margin-bottom: 1.5rem;}
.caseStudies-details p,
.caseStudies-details li{
    color: #727272;
    font-size: 25px;
    line-height: 40px;
}
@media (max-width:1228.8px) {
    .caseStudies-details{width: 80%;}
    .caseStudies-details h2{font-size: 30px;margin-bottom: 0;}
    .caseStudies-details p, .caseStudies-details li{font-size: 20px;line-height: 32px;}
    .caseStudies-details .imageTop{margin-bottom: 30px;}
}
@media (max-width:1024px) {
    .caseStudies-details{width: 85%;}
}
@media (max-width:768px) {
       .caseStudies-details{width: 95%;}
}
@media (max-width:614.4px) {
    .caseStudies-details-container{padding: 0px 20px;}
    .caseStudies-details{width: 100%;}
    .caseStudies-details ul{padding-left: 20px;}
}
/* Case Studies Details Style */
.caseStudiesDetails{
    padding-top: 7rem;
    position: relative;
}
.caseStudiesDetails .boxDate{
    display: flex;
    padding: 6px 16px;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-radius: 20px;
    background: #FFF;
    margin: auto;
    margin-top: 30px;
    width: max-content;
}
.caseStudiesDetails .boxDate img{
    width: 20%;
}
.caseStudiesDetails .boxDate h5{white-space: pre;}
.caseStudiesDetails .caseStudiesDetails-texts{
    background: #E7FBFF;
    width: 100%;
    padding: 51px 60px 15rem 60px;
    border-radius: 100px;
}
.caseStudiesDetails .caseStudiesDetails-texts .boxImage{
    padding:8px 10px;
    border-radius: 25px;
    border: 1px solid #0B63E5;
    background: #FFF;
    width: max-content;
    margin: auto;
}
.caseStudiesDetails .caseStudiesDetails-texts .boxImage img{
    width: 168px;
    height: 85px;
}
.caseStudiesDetails h1{
    width: 75%;
    margin:30px auto;
}
.caseStudiesDetails p{
    color: #061C3D;
    line-height: 33px;  
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
.caseStudiesDetails .plyr--video{
    border-radius: 30px;
    height: 100%;
    width: 92%;
    background: none;
    position: relative;
    bottom: 15rem;
    margin: auto;
}
@media (min-width:1706.67px) {
    .caseStudiesDetails p{line-height: 45px;}
    .caseStudiesDetails .caseStudiesDetails-texts .boxImage img {width: 188px;height: 95px;}
    .caseStudiesDetails{padding-top: 9rem;}
    .caseStudiesDetails .boxDate{padding: 16px 24px;}
}
@media (min-width:1920px) {
    .caseStudiesDetails p{line-height: 50px;}
    .caseStudiesDetails .caseStudiesDetails-texts .boxImage img {width: 198px;height: 105px;}
    .caseStudiesDetails{padding-top: 10rem;}
}
@media (min-width:2048px) {
    .caseStudiesDetails p{line-height: 55px;}
    .caseStudiesDetails .caseStudiesDetails-texts .boxImage img {width: 210px;height: 125px;}
}
@media (max-width:1228.8px) {
    .caseStudiesDetails h1{width: 80%;}
    .caseStudiesDetails p{width: 85%;}
}
@media (max-width:1024px) {
    .caseStudiesDetails h1{width: 90%;margin: 24px auto;}
    .caseStudiesDetails p{width: 75%;line-height: 150%;}
    .caseStudiesDetails .caseStudiesDetails-texts{padding: 32px 40px 15rem 40px;}
    .caseStudiesDetails .caseStudiesDetails-texts .boxImage img {width: 120px;height: 60px;}
    .caseStudiesDetails .caseStudiesDetails-texts .boxImage{border-radius: 15px;}
}
@media (max-width:877.71px) {
    .caseStudiesDetails h1{width: 85%;}
    .caseStudiesDetails p{width: 90%;}
}
@media (max-width:614.4px) {
    .caseStudiesDetails h1{width: 100%;margin: 16px 0;font-size: 20px;line-height: 127%;}
    .caseStudiesDetails p{width: 100%;}
    .caseStudiesDetails{padding-top: 1rem;}
    .caseStudiesDetails .companyLogo{width: 50%;}
    .caseStudiesDetails .plyr--video{border-radius: 10px;}
    .caseStudiesDetails .caseStudiesDetails-texts {padding: 32px 16px 5rem 16px;border-radius: 50px;}
    .caseStudiesDetails .plyr--video{bottom: 6rem;}
    .caseStudiesDetails .boxDate{margin-top: 16px;}
}
/* Case Studies Details 2 */
.caseStudiesDetails2{
    position: relative;
    margin: 0px 0 100px 0;
}
.caseStudiesDetails2 .caseStudiesDetails2-titles{
    text-align: center;
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
    gap: 16px;
}
.caseStudiesDetails2 .caseStudiesDetails2-titles h1{
    letter-spacing: -1.2px;
    line-height: 100%;
}
.caseStudiesDetails2 .caseStudiesDetails2-titles p{line-height: 144.444%;}
.caseStudiesDetails2 .fx-caseStudiesDetails2{
    align-items: center;
    gap: 50px;
    padding-top:80px;
    padding-bottom:80px;
    gap: 110px;
    position: relative;
}

.caseStudiesDetails2 .fx-caseStudiesDetails2 .linesBackImgs{
    position: absolute;
    right: 0.5rem;
    top: 2.5rem;
    width: 51%;
    filter: brightness(0) saturate(100%) invert(77%) sepia(19%) saturate(798%) hue-rotate(174deg) brightness(91%) contrast(99%);
}
.caseStudiesDetails2 .fx-caseStudiesDetails2:nth-child(odd) .linesBackImgs{
    position: absolute;
    left: 0.5rem;
    top: 2.5rem;
    width: 48%;
    filter: brightness(0) saturate(100%) invert(98%) sepia(25%) saturate(7096%) hue-rotate(313deg) brightness(104%) contrast(103%);
}
.caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts{width: 50%;}
.caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts ul{padding-left: 2rem;}
.caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts li{
    line-height:164%;
}
.caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts p,
.caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts span{
    font-family: "Dubai";
    font-weight: 400;
}
.caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts h5{
    letter-spacing: -1.2px;
    margin-bottom: 16px;
    line-height: 107.895%;
}
.caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts .list-caseStudiesDetails2{
    gap: 14px;
}
.caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts .item-caseStudiesDetails2{gap: 10px;}
.caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts .item-caseStudiesDetails2 span{
    color: #FFB600;
    font-size: 25px;
    letter-spacing: 4px;
}
.caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts .item-caseStudiesDetails2 h3{
    color: #101828;
    font-family: 'Inter';
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; 
}
.caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-imgs{
    width: 50%;
    position: relative;
    gap: 20px;
    align-items: normal;
}
.caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-imgs img{
    width: 48%;
    height:570px;
    object-fit: cover;
   border-radius: 75px 0px 0px 75px;
}
.caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-imgs img:last-child{
    border-radius: 0px 75px 75px 0px;
}
@media (min-width:1706.67px) {
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts p{font-size: 22px;line-height: 26px;}
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-imgs img{height: 600px;}
}
@media (min-width:1920px) {
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts p{font-size: 25px;line-height: 30px;}
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts .item-caseStudiesDetails2 h3{font-size: 25px;}
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts .item-caseStudiesDetails2 span{font-size: 28px;}
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-imgs img{height: 630px;}
}
@media (min-width:2048px) {
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-imgs img{height: 670px;}
}
@media (max-width:1396.36px) {
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts p{font-size: 18px;line-height: 22px;}
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts .list-caseStudiesDetails2{gap: 8px;}
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts .item-caseStudiesDetails2 h3{font-size: 20px;}
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts .item-caseStudiesDetails2 span{font-size: 22px;}
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-imgs img{height: 520px;}
}
@media (max-width:1228.8px) {
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts p,
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts .item-caseStudiesDetails2 h3{font-size: 18px;}
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts .item-caseStudiesDetails2 span{font-size: 20px;}
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-imgs img{height: 470px;}
}
@media (max-width:1024px) {
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts p,
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts .item-caseStudiesDetails2 h3{font-size: 16px;}
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts .list-caseStudiesDetails2{gap: 4px;}
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts .item-caseStudiesDetails2 span{font-size: 18px;}
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-imgs img{height: 440px;}
}
@media (max-width:877.71px) {
    .caseStudiesDetails2{margin: 50px 0;}
    .caseStudiesDetails2 .fx-caseStudiesDetails2{gap: 24px;}
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts .item-caseStudiesDetails2 span{font-size: 16px;}
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts p,
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts .item-caseStudiesDetails2 h3{font-size: 13px;line-height: 20px;}
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-imgs{gap: 16px;}
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-imgs img{height: 380px;}
}
@media (max-width:768px) {

}
@media (max-width:614.4px) {
    .caseStudiesDetails2 .fx-caseStudiesDetails2{gap: 20px;flex-direction: column;}
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts{width: 100%;}
    .caseStudiesDetails2 .fx-caseStudiesDetails2{gap: 24px;}
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-imgs{width: 100%;gap: 16px;}
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-texts ul{padding-left: 1rem;}
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-imgs img{
        height: 300px;
        width: 48%;
        border-radius: 25px 0px 0px 25px;
    }
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .caseStudiesDetails2-imgs img:last-child {
        border-radius: 0px 25px 25px 0px;
    }
    .caseStudiesDetails2 .fx-caseStudiesDetails2 .linesBackImgs{
        width: 94%;
        top: auto;
        bottom: 3.5rem;
    }
    .caseStudiesDetails2 .fx-caseStudiesDetails2:nth-child(odd) .linesBackImgs{width: 94%;}
    .caseStudiesDetails2 .caseStudiesDetails2-titles{width: 90%;}
    .caseStudiesDetails2 .caseStudiesDetails2-titles h1{line-height: 100%;}
    .caseStudiesDetails2 .caseStudiesDetails2-titles p{font-size: 14px;}
    .caseStudiesDetails2{margin-bottom: 0px;}
}
.sectionThree .fx-head-title p{width: 50%;margin: 24px auto 0 auto;}
.sectionThree .fx-section-three{padding-top: 3rem;}
/* Case Studies Four */
.caseStudies-four {
    margin: 100px 0;
}
.caseStudies-four .slide{padding: 10px;}
.caseStudies-four .fx-caseStudies-four{gap: 84px;align-items: start;}
.caseStudies-four .fx-caseStudies-four .caseStudies-four-texts{padding-top: 2rem;}
.caseStudies-four .fx-caseStudies-four .caseStudies-four-texts,
.caseStudies-four .fx-caseStudies-four .caseStudies-four-img{width: 50%;}
.caseStudies-four .fx-caseStudies-four .caseStudies-four-img img{
    width: 100%;
    border-radius: 80px 80px 80px 0px;
    object-fit: cover;
}
.caseStudies-four .caseStudiesFour-title{
    margin-bottom: 40px;
    gap: 24px;
    width: 100%;
}
.caseStudies-four .caseStudiesFour-title h1{margin-bottom: 0;}
.caseStudies-four .caseStudiesFour-title img{width: 25%;}
.caseStudies-four .fx-caseStudies-four .caseStudies-four-texts .style-texts{
    background: #FFF;
    box-shadow: 3px 0px 0px 0px #FFB600 inset;
    display: flex;
    padding-left: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.caseStudies-four .fx-caseStudies-four .caseStudies-four-texts p{
    color: #061C3D;
    font-size: 24px;
    line-height: 32px;
        display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.caseStudies-four .arrows-sliderEnergy{
    display: flex;
    gap: 16px;
    align-items: normal;
    position: relative;
    bottom:7rem;
}
.caseStudies-four .arrows-sliderEnergy img{transition: 0.3s;cursor: pointer;}
.caseStudies-four .arrows-sliderEnergy img:hover{transform: scale(0.8);}
@media (min-width:1706.67px) {
.caseStudies-four .fx-caseStudies-four{align-items: center;}
}
@media (min-width:1920px) {
.caseStudies-four .arrows-sliderEnergy{bottom: 8rem;}
.caseStudies-four .fx-caseStudies-four .caseStudies-four-texts p{font-size: 26px;line-height: 40px;}
}
@media (max-width:1396.36px) {
    .caseStudies-four .arrows-sliderEnergy{bottom: 7rem;}
}
@media (max-width:1228.8px) {
   .caseStudies-four .caseStudiesFour-title{margin-bottom: 24px;}
    .caseStudies-four .fx-caseStudies-four .caseStudies-four-texts p{font-size: 22px;line-height: 28px;}
    .caseStudies-four .arrows-sliderEnergy{bottom: 6rem;}
    .caseStudies-four .arrows-sliderEnergy img{width: 45px;}
    .caseStudies-four .fx-caseStudies-four .caseStudies-four-texts .style-texts img{width: 30px;}
    .caseStudies-four .caseStudiesFour-title img{width: 15%;}
}
@media (max-width:1024px) {
   .caseStudies-four .caseStudiesFour-title{margin-bottom: 16px;}
    .caseStudies-four .fx-caseStudies-four .caseStudies-four-texts p{font-size: 18px;line-height: 24px;}
    .caseStudies-four .arrows-sliderEnergy{bottom: 4.4rem;}
    .caseStudies-four .arrows-sliderEnergy img{width: 45px;}
    .caseStudies-four .fx-caseStudies-four .caseStudies-four-texts .style-texts img{width: 30px;}

}
@media (max-width:877.71px) {
    .caseStudies-four .fx-caseStudies-four{gap: 40px;}
   .caseStudies-four .caseStudiesFour-title{width: 100%;}
    .caseStudies-four .fx-caseStudies-four .caseStudies-four-texts p{font-size: 16px;line-height: 22px;}
    .caseStudies-four .arrows-sliderEnergy img{width: 35px;}
     .caseStudies-four .arrows-sliderEnergy{bottom: 2.4rem;}
    .sectionThree .fx-head-title p{width: 70%;}
}
@media (max-width:768px) {
    .caseStudies-four .fx-caseStudies-four{flex-direction: column;}
    .caseStudies-four .arrows-sliderEnergy{bottom: auto;top: 1rem;}
    .caseStudies-four .fx-caseStudies-four .caseStudies-four-texts{width: 70%;}
    .caseStudies-four .fx-caseStudies-four .caseStudies-four-img{width: 70%;}
     .caseStudies-four{margin: 0px 0 50px 0;} 
}
@media (max-width:614.4px) {
    .caseStudies-four .fx-caseStudies-four .caseStudies-four-img,
    .caseStudies-four .fx-caseStudies-four .caseStudies-four-texts{width: 100%;}
    .caseStudies-four .fx-caseStudies-four{gap: 24px;}
    .sectionThree .fx-head-title p{width: 100%;}
    .sectionThree .fx-head-title{align-items: center;}
    .sectionThree .fx-section-three{padding-top: 1.5rem;}
    .caseStudies-four .caseStudiesFour-title{gap:16px}
    .caseStudies-four .caseStudiesFour-title img{width: 15%;}
    .caseStudies-four .caseStudiesFour-title h1{
        line-height: 110%;
        font-size: 30px;
    }
}