/* Energy Details */
.bodyEnergyDetails{
    background-position: top;
    background-image: url(../images/Energy-details.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.energyDetails{
    margin-bottom: 30rem;
    background-position: top;
    background-image: url(../images/energyDetailsS1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
    position: relative;
    box-shadow: 0px 58px 152px 0px rgba(0, 107, 184, 0.42);
}
.energyDetails .energyDetails-container{
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.energyDetails .etaEnergyLogo{width: 25%;}
.energyDetails h3{
    color: #FFB600;
    font-size: 48px;
    line-height: 56px;
}
.energyDetails h1{
    color: #FFF;
    font-size: 92px;
    line-height: 114px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.energyDetails1{
    position: absolute;
   bottom:-21.2rem;
   height: max-content;
}
.energyDetails1 .fx-energyDetails{
    align-items: center;
}
.energyDetails1 .energyDetails-part1{
    border-radius: 24px;
    border: 2px solid #D2DBE6;
    background: rgba(255, 255, 255, 0.80);
    box-shadow: 0px 80px 232px 0px rgba(0, 48, 121, 0.24);
    backdrop-filter: blur(40px);
    padding: 68px 32px 32px 32px;
    width: max-content;
    background: #D2DBE6;
}
.energyDetails1 .energyDetails-part1 .plyr--video{
    width: 456px;
    height: 304.063px;
    border-radius: 20px;
}
.energyDetails1 .energyDetails-part1 .plyr video{
    height: 100%;
    object-fit: cover;
}
.energyDetails1 .energyDetails-part1 .plyr__video-wrapper{height: 100%;}
.energyDetails1 .energyDetails-part1 h1{
    margin-bottom: 12px;
    color: #FFB600;
    font-size: 80px;
    line-height: 80px;
}
.energyDetails1 .energyDetails-part1 h4{
    color: #202636;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 65px;
}
.energyDetails1 .energyDetails-part2{
   background-position: top;
    background-image: url(../images/ContainerBlue.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 129px;
    width: 45%;
    padding: 0 80px 0 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:8.4rem;
}
.energyDetails1 .energyDetails-part2 p{
    color: rgba(255, 255, 255, 0.80);
    font-size: 26px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 40px;
}
@media (min-width:1706.67px) {
    .energyDetails1 .energyDetails-part1 h1{margin-bottom: 16px;}
    .energyDetails1 .energyDetails-part1 h1{font-size: 100px;}
    .energyDetails1 .energyDetails-part1 h4{font-size: 40px;}
    .energyDetails1{bottom: -20.8rem;}
    .energyDetails{height: 133vh;}
}
@media (min-width:1920px) {
  .energyDetails h1{font-size: 120px;line-height: 130px;}
  .energyDetails1 .energyDetails-part1{padding: 70px 48px 48px 48px;}
}
@media (min-width:2048px) {
    .energyDetails{height: 127vh;}
    .energyDetails1 .energyDetails-part2{background-size: cover;height: 154px;width: 52%;}
    .energyDetails1 .energyDetails-part2 p{font-size: 34px;line-height: 48px;}
    .energyDetails1 .energyDetails-part1 h1{margin-bottom: 24px;}
}
@media (min-width:2304px) {.energyDetails{height: 114vh;}.energyDetails .etaEnergyLogo{width: 18%;}}
@media (min-width:3072px) {.energyDetails{height: 90vh;}}
@media (min-width:4608px) {.energyDetails{height: 55vh;}}
@media (min-width:6144px) {.energyDetails{height: 45vh;}}
@media (max-width:1396.36px) {
    .energyDetails h1{font-size: 82px;width: 90%;line-height: 90px;}
    .energyDetails h3{font-size: 38px;}
    .energyDetails .etaEnergyLogo{width: 21%;}
    .energyDetails1 .energyDetails-part2{margin-bottom:8.7rem;}
    .energyDetails1 .energyDetails-part2 p{font-size: 24px;line-height: 33px;}
    .energyDetails1 .energyDetails-part1 h4{margin-bottom: 50px;font-size: 28px;line-height: 36px;}
}
@media (max-width:1228.8px) {
    .energyDetails1 .energyDetails-part2{margin-bottom:10.5rem;height: 100px;}
    .energyDetails h1{font-size: 72px;width: 90%;line-height: 80px;}
    .energyDetails1 .energyDetails-part1 .plyr--video {width: 400px;height: 250.063px;}
    .energyDetails1 .energyDetails-part2 p{font-size: 20px;line-height: 33px;}
    .energyDetails1{bottom: -20.2rem;}
    .energyDetails h3{font-size: 32px;}
    .energyDetails .energyDetails-container{gap: 16px;}
}
@media (max-width:1024px) {
    .energyDetails h1{font-size: 62px;width: 90%;line-height: 70px;}
    .energyDetails .energyDetails-container{padding-top:8rem ;}
    .energyDetails .energyDetails-container{gap: 8px;}
    .energyDetails1{bottom: -18.7rem;}
    .energyDetails1 .energyDetails-part1{padding: 48px 24px 24px 24px;}
     .energyDetails1 .energyDetails-part1 .plyr--video {width: 350px;height: 200.063px;}
     .energyDetails1 .energyDetails-part1 h1{font-size: 70px;}
     .energyDetails1 .energyDetails-part2{padding: 0 30px;}
}
@media (max-width:877.71px) {
    .energyDetails h1{font-size: 52px;width: 90%;line-height: 60px;}
    .energyDetails1 .energyDetails-part2{padding: 0 30px;}
    .energyDetails1 .energyDetails-part2 p{font-size: 16px;line-height: 22px;}
    .energyDetails1 .energyDetails-part2{height: 76px;}
    .energyDetails1 .energyDetails-part1 h4{margin-bottom: 30px;font-size: 24px;line-height: 34px;}
    .energyDetails1 .energyDetails-part1 .plyr--video {width: 300px;height: 200.063px;}
    .energyDetails1 .energyDetails-part1 h1{font-size: 50px;line-height: 60px;}
    .energyDetails1 {bottom: -17.3rem;}
}
@media (max-width:768px) {
    .energyDetails{height: 163vh;}
    .energyDetails1{position: relative;}
    .energyDetails1 {bottom: 0rem;}
     .energyDetails1 .energyDetails-part2 p{font-size: 14px;line-height: 18px;}
}
@media (max-width:614.4px) {
    .energyDetails{height: 100%;margin-bottom: 4rem;}
    .energyDetails1 .fx-energyDetails{flex-direction: column;gap: 24px;}
    .energyDetails1 .energyDetails-part2{height: 100%;width: 100%;background-size: contain;padding: 13px 16px;margin-bottom: 0;}
    .energyDetails h1{font-size: 37px;line-height: 44px;margin-bottom: 2rem;}
    .energyDetails h3{font-size: 24px;}
    .energyDetails .etaEnergyLogo{width: 60%;}
    .energyDetails h1{display: block;}
}
@media (max-width:512px) {
}
.energyDetails2{
    position: relative;
    margin-bottom: 100px;
}
.energyDetails2 .fx-energyDetails2{align-items: center;gap: 120px;}
.energyDetails2 .fx-energyDetails2 .energyDetails2-texts{width: 55%;}
.energyDetails2 .fx-energyDetails2 .energyDetails2-texts h1{
    color: #101828;
    font-size: 60px;
    letter-spacing: -1.2px;
    margin-bottom: 20px;
    line-height: 70px;
}
.energyDetails2 .fx-energyDetails2 .energyDetails2-texts p{
    color: #475467;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
}
.energyDetails2 .fx-energyDetails2 .energyDetails2-texts .list-energyDetails2{
    gap: 16px;
}
.energyDetails2 .fx-energyDetails2 .energyDetails2-texts .item-energyDetails2{gap: 10px;}
.energyDetails2 .fx-energyDetails2 .energyDetails2-texts .item-energyDetails2 span{
    color: #FFB600;
    font-size: 25px;
    letter-spacing: 4px;
}
.energyDetails2 .fx-energyDetails2 .energyDetails2-texts .item-energyDetails2 h3{
    color: #101828;
    font-family: 'Inter';
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; 
}
.energyDetails2 .fx-energyDetails2 .energyDetails2-imgs{width: 45%;position: relative;}
.energyDetails2 .fx-energyDetails2 .energyDetails2-imgs .energyDetails2Image{width: 100%;}
.energyDetails2 .fx-energyDetails2 .energyDetails2-imgs .box-energyDetails2{
    border-radius: 12px;
    background: #FFB600;
    padding: 24px 30px;
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: absolute;
    bottom: 4rem;
    left: -5rem;
}
.energyDetails2 .fx-energyDetails2 .energyDetails2-imgs .box-energyDetails2 img{
    width: 132px;
    height: 132px;
    object-fit: contain;
}
.energyDetails2 .fx-energyDetails2 .energyDetails2-imgs .box-energyDetails2 p{
    color: #2A3334;
    font-size: 18px;
    letter-spacing: 0.937px;
}
@media (min-width:1706.67px) {
    .energyDetails2 .fx-energyDetails2 .energyDetails2-texts h1{font-size: 70px;line-height: 80px;}
    .energyDetails2 .fx-energyDetails2 .energyDetails2-texts p{font-size: 22px;line-height: 26px;}
}
@media (min-width:1920px) {
    .energyDetails2 .fx-energyDetails2 .energyDetails2-texts h1{font-size: 80px;line-height: 90px;}
    .energyDetails2 .fx-energyDetails2 .energyDetails2-texts p{font-size: 25px;line-height: 30px;}
    .energyDetails2 .fx-energyDetails2 .energyDetails2-texts .item-energyDetails2 h3{font-size: 25px;}
    .energyDetails2 .fx-energyDetails2 .energyDetails2-texts .item-energyDetails2 span{font-size: 28px;}
}
@media (min-width:2048px) {

}
@media (min-width:2304px) {
    
}
@media (min-width:3072px) {
    
}
@media (max-width:1396.36px) {
    .energyDetails2 .fx-energyDetails2 .energyDetails2-texts h1{font-size: 50px;line-height: 60px;}
    .energyDetails2 .fx-energyDetails2 .energyDetails2-texts p{font-size: 18px;line-height: 22px;}
    .energyDetails2 .fx-energyDetails2 .energyDetails2-texts .list-energyDetails2{gap: 8px;}
    .energyDetails2 .fx-energyDetails2 .energyDetails2-texts .item-energyDetails2 h3{font-size: 20px;}
    .energyDetails2 .fx-energyDetails2 .energyDetails2-texts .item-energyDetails2 span{font-size: 22px;}
}
@media (max-width:1228.8px) {
    .energyDetails2 .fx-energyDetails2 .energyDetails2-texts h1{font-size: 45px;line-height: 50px;}
    .energyDetails2 .fx-energyDetails2 .energyDetails2-texts p,
    .energyDetails2 .fx-energyDetails2 .energyDetails2-imgs .box-energyDetails2 p{font-size: 16px;line-height: 20px;}
    .energyDetails2 .fx-energyDetails2 .energyDetails2-texts .item-energyDetails2 h3{font-size: 18px;}
    .energyDetails2 .fx-energyDetails2 .energyDetails2-texts .item-energyDetails2 span{font-size: 20px;}
    .energyDetails2 .fx-energyDetails2 .energyDetails2-imgs .box-energyDetails2 img{width: 100px;height: 100px;}
}
@media (max-width:1024px) {
    .energyDetails2 .fx-energyDetails2 .energyDetails2-texts h1{font-size: 40px;}
    .energyDetails2 .fx-energyDetails2 .energyDetails2-texts p,
    .energyDetails2 .fx-energyDetails2 .energyDetails2-imgs .box-energyDetails2 p{font-size: 14px;line-height: 18px;margin-bottom: 16px;}
    .energyDetails2 .fx-energyDetails2 .energyDetails2-texts .item-energyDetails2 h3{font-size: 16px;}
    .energyDetails2 .fx-energyDetails2 .energyDetails2-texts .list-energyDetails2{gap: 4px;}
    .energyDetails2 .fx-energyDetails2 .energyDetails2-texts .item-energyDetails2 span{font-size: 18px;}
}
@media (max-width:877.71px) {
.energyDetails2 .fx-energyDetails2{flex-direction: column;gap: 40px;}
 .energyDetails2 .fx-energyDetails2 .energyDetails2-texts{width: 100%;}
 .energyDetails2 .fx-energyDetails2 .energyDetails2-imgs{width: 100%;}
 .energyDetails2 .fx-energyDetails2 .energyDetails2-imgs .box-energyDetails2{left: auto;bottom: -7rem;}
}
@media (max-width:768px) {
    
}
@media (max-width:614.4px) {
.energyDetails2 .fx-energyDetails2{gap: 24px;}
}
@media (max-width:512px) {
}
/* Energy Details 3 Section  */
.energyDetails3{
  margin: 150px 0;
}
.energyDetails3 .fx-energyDetails3{gap: 50px;align-items: start;}
.energyDetails3 .energyDetails3-hidden{display: none;}
.energyDetails3 .solar-Energy img{object-fit: cover;width: 80px;}
.energyDetails3 .fx-energyDetails3 .energyDetails3-imgs{width: 30%;position: relative;}
.energyDetails3 .fx-energyDetails3 .energyDetails3-imgs .energyDetails3-img{
    width: 100%;
    border-radius: 24px;
    height: 100%;
}
.energyDetails3 .fx-energyDetails3 .energyDetails3-imgs .solar-Energy{
    padding:32px;
    border-radius: 24px;
    background: rgba(0, 8, 22, 0.62);
    backdrop-filter: blur(27px);
    width: max-content;
    gap: 24px;
    position: absolute;
    top: 50%;
    left: 70%;
}
.energyDetails3 .fx-energyDetails3 .energyDetails3-imgs h2{
    color: #FFF;
    font-size: 32px;
    line-height: 32px;
}
.energyDetails3 .fx-energyDetails3 .energyDetails3-texts{width:70%;}
.energyDetails3 .fx-energyDetails3 .energyDetails3-texts .fx-texts{gap: 30px;margin-top: 40px;}
.energyDetails3 .fx-energyDetails3 .energyDetails3-texts h1{
    width: 80%;
    margin-bottom: 24px;
    color: #202636;
    letter-spacing: 0;
}
.energyDetails3 .fx-energyDetails3 .energyDetails3-texts .fx-texts img{width: 290px;border-radius: 24px;height: 350px;object-fit: cover;}
.energyDetails3 .fx-energyDetails3 .energyDetails3-texts .fx-texts p{
    color: #737B8F;
    font-size: 20px;
    line-height: 35px;
    width: 70%;
}
@media (min-width:1706.67px) {
    .energyDetails3 .fx-energyDetails3 .energyDetails3-texts .fx-texts p{font-size: 22px;line-height: 38px;}
    .energyDetails3 .fx-energyDetails3 .energyDetails3-texts .fx-texts img{width: 310px;height: 380px;}
}
@media (min-width:1920px) {
    .energyDetails3 .fx-energyDetails3 .energyDetails3-texts .fx-texts p{font-size: 25px;line-height: 40px;}
    .energyDetails3 .fx-energyDetails3 .energyDetails3-texts .fx-texts img{width: 330px;height: 420px;}
    .energyDetails3 .fx-energyDetails3 .energyDetails3-imgs .solar-Energy{padding: 40px;gap: 32px;}
    .energyDetails3 .fx-energyDetails3 .energyDetails3-imgs h2{font-size: 40px;}
    .energyDetails3 .solar-Energy img{width: 100px;}
}
@media (min-width:2048px) {
    .energyDetails3 .fx-energyDetails3 .energyDetails3-texts .fx-texts p{font-size: 28px;line-height: 44px;}
    .energyDetails3 .fx-energyDetails3 .energyDetails3-texts .fx-texts img{width: 360px;height: 500px;}
    .energyDetails3 .fx-energyDetails3 .energyDetails3-imgs .solar-Energy{padding: 40px;gap: 32px;}
    .energyDetails3 .fx-energyDetails3 .energyDetails3-imgs h2{font-size: 40px;}
}
@media (max-width:1396.36px) {
    .energyDetails3 .fx-energyDetails3 .energyDetails3-texts .fx-texts p{font-size: 17px;line-height: 26px;}
    .energyDetails3 .fx-energyDetails3 .energyDetails3-imgs h2{font-size: 24px;}
    .energyDetails3 .fx-energyDetails3 .energyDetails3-imgs .solar-Energy{gap: 16px;}
    .energyDetails3 .fx-energyDetails3 .energyDetails3-texts .fx-texts{margin-top: 24px;}
    .energyDetails3 .fx-energyDetails3 .energyDetails3-texts h1{margin-bottom: 16px;}
    .energyDetails3 .fx-energyDetails3{gap: 24px;}
}
@media (max-width:1228.8px) {
      .energyDetails3 .fx-energyDetails3 .energyDetails3-imgs h2{font-size: 20px;}
      .energyDetails3 .solar-Energy img{width: 60px;}
      .energyDetails3 .fx-energyDetails3 .energyDetails3-imgs .solar-Energy{padding: 24px;}
      .energyDetails3 .fx-energyDetails3 .energyDetails3-texts .fx-texts img{width: 250px;border-radius: 24px;height: 300px;}
}
@media (max-width:1024px) {
      .energyDetails3 .fx-energyDetails3 .energyDetails3-texts .fx-texts p{font-size: 15px;line-height: 24px;}
 .energyDetails3 .fx-energyDetails3 .energyDetails3-texts .fx-texts img{width: 210px;border-radius: 24px;height: 260px;}
}
@media (max-width:877.71px) {
    .energyDetails3{margin-top: 12rem;}
    .energyDetails3 .fx-energyDetails3 .energyDetails3-texts .fx-texts p{font-size: 13px;line-height: 20px;}
    .energyDetails3 .fx-energyDetails3 .energyDetails3-texts .fx-texts img{width: 160px;border-radius: 24px;height: 200px;}
    .energyDetails3 .fx-energyDetails3 .energyDetails3-texts .fx-texts{gap: 20px;}
    .energyDetails3 .fx-energyDetails3 .energyDetails3-imgs h2{font-size: 16px;}
    .energyDetails3 .fx-energyDetails3 .energyDetails3-imgs .solar-Energy{gap: 8px;padding: 16px;}
}
@media (max-width:768px) {
    .energyDetails3 .fx-energyDetails3{flex-direction: column;gap: 24px;}
    .energyDetails3 .fx-energyDetails3 .energyDetails3-imgs{order: 2;width: 100%;display: flex;gap: 16px;}
    .energyDetails3 .fx-energyDetails3 .energyDetails3-texts{order: 1;width: 100%;}
    .energyDetails3 .fx-energyDetails3 .energyDetails3-texts .fx-texts img{display: none;}
    .energyDetails3 .fx-energyDetails3 .energyDetails3-texts .fx-texts p,
    .energyDetails3 .fx-energyDetails3 .energyDetails3-texts h1{width: 100%;}
    .energyDetails3 .fx-energyDetails3 .energyDetails3-texts .fx-texts p{font-size: 16px;line-height: 26px;}
    .energyDetails3 .fx-energyDetails3 .energyDetails3-imgs .energyDetails3-img{width: 55%;}
    .energyDetails3 .fx-energyDetails3 .energyDetails3-imgs .energyDetails3-hidden{width: 40%;display: block;}
    .energyDetails3 .fx-energyDetails3 .energyDetails3-imgs .solar-Energy{left: 40%;}
}
/* Energy Details 4 Section */
.energyDetails4{
  margin: 100px 0 150px 0;
}
.energyDetails4 .p-head{
    color: #475467;
    font-size: 22px;
    line-height: 28px;
    margin-top: 10px;
}
.energyDetails4 .fx-energyDetails4{
    width: 85%;
    margin: auto;
    margin-top: 32px;
    gap: 32px;
    align-items: normal;
}
.energyDetails4 .cardValue{
    border-radius: 12px;
    border: 1px solid #FFB600;
    background: rgba(255, 182, 0, 0.05);
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1 1 calc(33.3% - 32px);
    max-width: calc(33.3% - 0px);
}
.energyDetails4 .cardValue img{
    width: 70px;
    height: 70px;
    object-fit: contain;
}
.energyDetails4 .cardValue h2{
    color: #101828;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}
.energyDetails4 .cardValue p{
    color: #475467;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
@media (min-width:1706.67px) {
    .energyDetails4 .cardValue p{font-size: 18px;line-height: 28px;}
    .energyDetails4 .cardValue h2{font-size: 22px;line-height: 32px;}
}
@media (min-width:1920px) {
     .energyDetails4 .fx-energyDetails4{margin-top: 40px;}
    .energyDetails4 .cardValue img{width: 100px;height: 100px;}
    .energyDetails4 .cardValue p{font-size: 22px;line-height: 32px;}
    .energyDetails4 .cardValue h2{font-size: 26px;line-height: 36px;}
}
@media (min-width:2048px) {
    .energyDetails4 .fx-energyDetails4{margin-top: 48px;}
    .energyDetails4 .cardValue p{font-size: 20px;line-height: 38px;}
    .energyDetails4 .cardValue h2,
    .energyDetails4 .p-head{font-size: 28px;line-height: 40px;}
}
@media (max-width:1396.36px) {
    .energyDetails4 .cardValue p{font-size: 14px;line-height: 22px;}
    .energyDetails4 .cardValue h2{font-size: 18px;line-height: 28px;}
}
@media (max-width:1228.8px) {
    .energyDetails4 .cardValue p{font-size: 13px;line-height: 20px;}
    .energyDetails4 .cardValue h2{font-size: 16px;line-height: 24px;}
    .energyDetails4 .fx-energyDetails4{gap: 24px;}
    .energyDetails4 .cardValue{
        flex: 1 1 calc(33.3% - 24px);
        max-width: calc(33.3% - 0px);
    }
}
@media (max-width:1024px) {
    .energyDetails4 .cardValue img{width: 50px;height: 50px;}
    .energyDetails4 .fx-energyDetails4{width: 95%;}
}
@media (max-width:877.71px) {
    .energyDetails4 .cardValue{
        flex: 1 1 calc(50% - 24px);
        max-width: calc(50% - 0px);
    }
}
@media (max-width:768px) {
    .energyDetails4 .cardValue{
        flex: 1 1 calc(50% - 24px);
        max-width: calc(50% - 0px);
    }
}
@media (max-width:614.4px) {
    .energyDetails4 .fx-energyDetails4{width: 100%;}
    .energyDetails4 .fx-energyDetails4{gap: 16px;}
    .energyDetails4 .cardValue{
        flex: 1 1 calc(100% - 16px);
        max-width: calc(100% - 0px);
    }
    .energyDetails4 .p-head{font-size: 18px;}
    .energyDetails4 .fx-energyDetails4{margin-top: 24px;}
    .energyDetails4 .subtitle-50px {font-size: 40px;line-height: 55px;}
}
.energyDetails5{margin: 100px 0;}
.energyDetails5 .energyDetails5-container{height: 100%;position: relative;}
.energyDetails5 .energyDetails5-texts{
    width: 50%;
}
.energyDetails5 .energyDetails5-texts h4{
    color: #FFB600;
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 8px;
    width: max-content;
}
.energyDetails5 .energyDetails5-texts .border{
      margin-bottom: 20px;
      height: 3px;
      background: #FFB600;
      width: 56px;
}
.energyDetails5 .energyDetails5-texts h1{margin-bottom: 24px;display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;}
.energyDetails5 .energyDetails5-texts a{gap: 20px;text-decoration: none;}
.energyDetails5 .energyDetails5-texts a span{
    color: #FFB600;
    font-size: 24px;
}
.energyDetails5 .energyDetails5-texts a img{transition: 0.3s;}
.energyDetails5 .energyDetails5-texts a img:hover{transform: scale(0.9);}
.energyDetails5 .energyDetails5-imgs{
    width: 50%;
    position: relative;
}
.energyDetails5 .energyDetails5-imgs .energyDetails-img1{
    position: absolute;
    right: 0;   
    top: 10%;
    width: 90px;
}
.energyDetails5 .energyDetails5-imgs .energyDetails5-img2{
    position: absolute;
    right: 0;   
    top: 45%;
    width: 250px;
}
.energyDetails5 .energyDetails5-imgs .energyDetails5-img3{
    position: absolute;
    top: 52%;
    width: 100px;
    left: -1rem;
}
.energyDetails5 .energyDetails5-imgs .energyDetails5-image{
    width: 85%;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    display: block;z-index: -1;
    position: relative;
}
.energyDetails5 .texts-section{
    width: 100%;
    height: 273px;
    padding: 0 31px;
    background-position: center;
    background-image: url(../images/backTextsSection.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    bottom: 13rem;
    z-index: -5;
}
.energyDetails5 .texts-section p{
    padding-left: 40px;
    border-left: 1px solid #fff;
    width: 40%;
    color: #FFF;
    font-size: 24px;
    line-height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
@media (min-width:1706.67px) {
    .energyDetails5 .energyDetails5-imgs .energyDetails5-img3{top: 56%;}
}
@media (min-width:1920px) {
    .energyDetails5 .energyDetails5-imgs .energyDetails5-img3{top: 60%;width: 120px;}
    .energyDetails5 .energyDetails5-texts a span{font-size: 28px;}
    .energyDetails5 .energyDetails5-texts .border{margin-bottom: 30px;}
}
@media (min-width:2048px) {
    .energyDetails5 .energyDetails5-imgs .energyDetails5-img3{top: 63%;width: 140px;}
}
@media (min-width:2304px) {
    
}
@media (min-width:3072px) {
    
}
@media (max-width:1396.36px) {
    .energyDetails5 .texts-section{bottom:10rem;height: 243px;}
    .energyDetails5 .energyDetails5-imgs .energyDetails5-img2{width: 200px;}
}
@media (max-width:1228.8px) {
    .energyDetails5 .texts-section{bottom:7rem;height: 203px;}
    .energyDetails5 .energyDetails5-imgs .energyDetails5-img2{width: 180px;}
    .energyDetails5 .texts-section p,
    .energyDetails5 .energyDetails5-texts a span{font-size: 18px;line-height: 28px;}
    .energyDetails5 .energyDetails5-texts a img{width: 35px;}
    .energyDetails5 .energyDetails5-texts a{gap: 10px;}
    .energyDetails5 .energyDetails5-texts h4{font-size: 24px;}
    .energyDetails5 .energyDetails5-imgs .energyDetails-img1{width: 70px;}
}
@media (max-width:1024px) {
    .energyDetails5 .texts-section{bottom:6rem;height:180px;}
    .energyDetails5 .energyDetails5-imgs .energyDetails-img1{width: 50px;}
    .energyDetails5 .texts-section p,   
    .energyDetails5 .energyDetails5-texts a span{font-size: 16px;line-height: 23px;}
    .energyDetails5 .energyDetails5-imgs .energyDetails5-img2{width: 160px;}
    .energyDetails5 .energyDetails5-imgs .energyDetails5-img3{width: 85px;top: 62%}
}
@media (max-width:877.71px) {
    .energyDetails5 .texts-section{bottom:3rem;height: 153px;}
    .energyDetails5 .energyDetails5-imgs .energyDetails5-img2{width: 140px;}
    .energyDetails5 .energyDetails5-imgs .energyDetails5-img3{width: 75px;top: 70%}
}
@media (max-width:768px) {
    .energyDetails5 .fx-energyDetails5{flex-direction: column;gap: 24px;}
    .energyDetails5 .energyDetails5-texts{width: 100%;}
    .energyDetails5 .energyDetails5-imgs{margin-left: auto;}
    .energyDetails5 .texts-section{bottom:7rem;height:130px;}
}
@media (max-width:614.4px) {
    .energyDetails5 .energyDetails5-imgs{width: 100%;}
    .energyDetails5 .texts-section{position: relative;bottom: 0;height: 100%;
    background-size: cover;padding: 8px;border-radius: 10px;margin-top: 16px;}
    .energyDetails5 .texts-section p{width: 100%;padding-left: 16px};
}
/* Energy Details Section 6 */
.energyDetails6{
  margin-bottom: 100px;
  position: relative;
  bottom: 5rem;
}
.energyDetails6 .energyDetails6-head span{
    font-size: 15px;
    letter-spacing: 1.2px;
}
.energyDetails6 .energyDetails6-head h1{
    color: #101828;
    font-size: 61px;
    margin: 0px 0;
}
.energyDetails6 .energyDetails6-head p{
    color: #8F8F9E;
    font-size: 20px;
    line-height: 26px;
    width: 60%;
}
.energyDetails6 .energyDetails6-head button{
    height: 53px;
    width: 170px;
    font-size: 14px;
    border-radius: 100px;
    white-space: normal;
}
.energyDetails6 .box-energyDetails6{margin-top: 60px;gap: 40px;margin-bottom: 100px;}
.energyDetails6 .energyDetails6-part1{width: 65%;}
.energyDetails6 .energyDetails6-img{
    border-radius: 20px 20px 0 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.energyDetails6 .fx-energyDetails6{
    gap: 60px;
    border-radius: 0 0 20px 20px ;
    height: 190px;
    justify-content: center;
    background: #0C0C1C;
}
.energyDetails6 .fx-energyDetails6 .border{
    width: 1px;
    height: 62px;
    background: #80809A;
}
.energyDetails6 .fx-energyDetails6 .fx-numbers h2{
    color:  #FFF;
    font-size: 30px;
}
.energyDetails6 .fx-energyDetails6 .fx-numbers p{
    color: #E4E4FF;
    font-size: 20px;
    line-height: 26px;
}
.energyDetails6 .energyDetails6-part2{width: 35%;position: relative;}
.energyDetails6 .energyDetails6-part2 .text-uppercase{
    font-size: 19px;
    line-height: 16px;
    margin-bottom: 16px;display: block;
}
.energyDetails6 .energyDetails6-part2 h1{
    color: #101828;
    font-size: 40px;line-height: 50px;
    margin-bottom: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.energyDetails6 .energyDetails6-part2 p  {color: #8F8F9E;}
.energyDetails6 .energyDetails6-part2 .p1{
    font-size: 22px;
    line-height: 26px; 
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #80809A;
}
.energyDetails6 .energyDetails6-part2 .p2{
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 40px;
}
.energyDetails6 .energyDetails6-part2 .list-part2{margin-bottom: 20px;}
.energyDetails6 .energyDetails6-part2 .list-part2,
.energyDetails6 .energyDetails6-part2 .fx-textPart2{gap: 16px;}
.energyDetails6 .energyDetails6-part2 .fx-textPart2 span{
    color: #101828;
    font-size: 21px;
    line-height: 26px;
}
.energyDetails6 .energyDetails6-part2 a{
    font-size: 18px;
    line-height: 100%;
    transition: 0.3s;
    position: absolute;
    bottom: 0;
}
.energyDetails6 .energyDetails6-part2 a:hover{transform: scale(0.98);}
@media (min-width:1706.67px) {

}
@media (min-width:1920px) {
    .energyDetails6 .energyDetails6-part2 h1{font-size: 50px;line-height: 60px;}
    .energyDetails6 .energyDetails6-part2 .p1{font-size: 25px;line-height: 35px;}
    .energyDetails6 .energyDetails6-part2 .fx-textPart2 span{font-size: 25px;}
    .energyDetails6 .energyDetails6-part2 .list-part2, .energyDetails6 .energyDetails6-part2 .fx-textPart2{gap: 24px;}
    .energyDetails6 .energyDetails6-part2 .p2{font-size: 28px;}
    .energyDetails6 .energyDetails6-part2 .text-uppercase{font-size: 24px;}
    .energyDetails6 .fx-energyDetails6{gap:90px;height: 250px;}
    .energyDetails6 .fx-energyDetails6 .fx-numbers h2{font-size: 35px;}
    .energyDetails6 .fx-energyDetails6 .fx-numbers p{font-size: 24px;}
    .energyDetails6 .energyDetails6-head p{line-height: 35px;font-size: 25px;}
    .energyDetails6 .energyDetails6-head span{font-size: 18px;}
    .energyDetails6 .energyDetails6-head h1{font-size: 70px;}
}
@media (min-width:2048px) {
    .energyDetails6 .energyDetails6-part2 h1{font-size: 60px;line-height: 70px;}
    .energyDetails6 .energyDetails6-part2 .p1{font-size: 28px;line-height: 38px;}
    .energyDetails6 .energyDetails6-part2 .fx-textPart2 span{font-size: 28px;}
    .energyDetails6 .energyDetails6-part2 .p2{font-size: 32px;}
    .energyDetails6 .energyDetails6-part2 .text-uppercase{font-size: 26px;}
    .energyDetails6 .fx-energyDetails6{gap:100px;height: 280px;}
    .energyDetails6 .fx-energyDetails6 .fx-numbers h2{font-size: 37px;}
    .energyDetails6 .fx-energyDetails6 .fx-numbers p{font-size: 26px;}
        .energyDetails6 .energyDetails6-head span{font-size: 20px;}
}
@media (min-width:2304px) {
    
}
@media (min-width:3072px) {
    
}
@media (max-width:1396.36px) {
    .energyDetails6 .fx-energyDetails6 .fx-numbers h2{font-size: 26px;}
    .energyDetails6 .fx-energyDetails6{gap: 50px;}
    .energyDetails6 .fx-energyDetails6 .fx-numbers p{font-size: 17px;}
    .energyDetails6 .energyDetails6-part2 .p1{font-size: 20px;}
    .energyDetails6 .energyDetails6-part2 .fx-textPart2 span{font-size: 18px;}
    .energyDetails6 .energyDetails6-part2 .list-part2, .energyDetails6 .energyDetails6-part2 .fx-textPart2{gap: 8px;}
    .energyDetails6 .energyDetails6-part2 .p2{font-size: 22px;}
    .energyDetails6 .energyDetails6-part2 .text-uppercase{font-size: 17px;}
    .energyDetails6 .energyDetails6-part2 h1{font-size: 36px;line-height: 46px;}
}
@media (max-width:1228.8px) {
    .energyDetails6 .fx-energyDetails6 .fx-numbers h2{font-size: 24px;}
    .energyDetails6 .fx-energyDetails6{gap: 40px;}
    .energyDetails6 .fx-energyDetails6 .fx-numbers p{font-size: 15px;}
}
@media (max-width:1024px) {
    .energyDetails6 .fx-energyDetails6 .fx-numbers h2{font-size: 24px;}
    .energyDetails6 .fx-energyDetails6{gap: 30px;}
    .energyDetails6 .fx-energyDetails6 .fx-numbers p{font-size: 15px;}
    .energyDetails6 .box-energyDetails6{gap: 30px;}
    .energyDetails6 .energyDetails6-part2 h1{font-size: 30px;line-height: 34px;}
    .energyDetails6 .energyDetails6-part2 .p1{font-size: 16px;margin-bottom: 15px;padding-bottom: 15px;}
    .energyDetails6 .energyDetails6-part2 .fx-textPart2 span{font-size: 15px;}
    .energyDetails6 .energyDetails6-part2 .fx-textPart2 img{width: 22px;}
    .energyDetails6 .energyDetails6-part2 .p2 {font-size: 19px;line-height: 25px;}
    .energyDetails6 .fx-energyDetails6 .energyDetails6-logo img{width: 95px;}
    .energyDetails6 .energyDetails6-part2 .text-uppercase{font-size: 14px;margin-bottom: 10px;}
}
@media (max-width:877.71px) {
    .energyDetails6 .box-energyDetails6{flex-direction: column;}
    .energyDetails6 .energyDetails6-part1{width: 100%;}
    .energyDetails6 .fx-energyDetails6{justify-content: space-between;padding: 0 40px;height: 150px;}
    .energyDetails6 .energyDetails6-part2{width: 70%;}
    .energyDetails6 .energyDetails6-head p{width: 80%;}
}
@media (max-width:768px) {
    .energyDetails6 .box-energyDetails6{gap: 24px;}
    .energyDetails6 .energyDetails6-part2 a{position: relative;}
    .energyDetails6 .energyDetails6-head {flex-direction: column;gap: 16px;}
}
@media (max-width:614.4px) {
    .energyDetails6 .fx-energyDetails6{height: 100%;flex-wrap: wrap;padding: 24px;gap: 16px;}
    .energyDetails6 .fx-energyDetails6 .border{display: none;}
    .energyDetails6 .energyDetails6-part2{width: 100%;}
    .energyDetails6 .energyDetails6-part2 .p2{margin-bottom: 24px;}
    .energyDetails6 .energyDetails6-head h1{font-size: 35px;line-height: 55px;margin: 8px 0;}
    .energyDetails6{bottom: 0;}
}
@media (max-width:512px) {
    .energyDetails6 .energyDetails6-part1{order: 1;}
    .energyDetails6 .energyDetails6-part2{order: 2;}
    .energyDetails6 .box-energyDetails6{margin-bottom: 30px;}
    .energyDetails6 .fx-energyDetails6 .fx-numbers h2{font-size: 20px;}
    .energyDetails6 .energyDetails6-img{height: 200px;}
    .energyDetails6 .energyDetails6-head p{font-size: 16px;width: 100%;}
    .energyDetails6 .energyDetails6-head button{height: 45px;width: 160px;}
    .energyDetails6 .box-energyDetails6{margin-top: 35px;}
    .energyDetails6 .energyDetails6-part2 h1{
        display: block;
    }
}