footer{
    background-image: url(../images/footerBackground.png);
    background-position: center;
    background-size: cover;
}
footer .fx-footer{
    padding-top: 13rem;
    width: 100%;
    border-radius: 40px;
    gap: 190px;
    align-items: start;
    justify-content: start;
}
footer .fxFooter-part2{
    gap: 90px;
    flex: 1 1 calc(60% - 190px);
    max-width: calc(60% - 0px);
    padding-top: 2rem;
}
footer .fx-footer .footer-part1{
    flex: 1 1 calc(40% - 190px);
    max-width: calc(40% - 0px);
}
footer .fx-footer .footer-part2{
    flex: 1 1 calc(33.3% - 90px);
    max-width: calc(33.3% - 0px);
}
footer .fx-footer .footer-part1 .backWhite{
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.12);
    padding: 34px 24px;
}
footer .fx-footer .footer-part p{
    color:#FFF;
    font-size: 14px;
    line-height: 180%;
    margin-bottom: 24px;
} 
footer .fx-footer .footer-part h5{
    color:#FFF;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 14px;
} 
footer .fx-footer .footer-part1 .form-group{
    display: flex;
    align-items: end;
    gap: 12px;
    margin-bottom: 24px;
}
footer .fx-footer .footer-part1 .footer-logo{width: 100%;}
footer .fx-footer .footer-part1 .form-group input{
    padding: 12px;
    width: 80%;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.20);
    color:  #FFF;
    font-size: 14px;
    height: 45px;
    opacity: 1;
}
footer .fx-footer .footer-part1 .form-group input::placeholder{
    opacity: 0.8;
    color:  #FFF;
}
footer .fx-footer .footer-part1 .form-group .btn-footer{
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 42px;
    border: 1px solid rgba(29, 30, 28, 0.00);
    background: #FFF;
    height: 45px;
    color: #141CAF;
    font-size: 14px;
}
footer .fx-footer .footer-part1 .fx-images{
    margin-top: 8px;
    gap: 8px;
}
footer .fx-footer .footer-part .fx-footer-links{
    display: flex;
    flex-direction: column;
    gap: 11px;
}
footer .fx-footer .footer-part a{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    line-height: 180%;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
    text-transform: capitalize;
}
footer .fx-footer .footer-part a:hover{
    font-size: 19px;
    color: rgba(255, 255, 255,1);
}
footer .gap-divs-footer{gap: 26px;flex-direction: column;}
footer .fxAllRights{
    margin-top: 56px;
    padding-bottom:12px;
}
footer .fxAllRights p{
  margin: auto;
  display: block;
    font-size: 14px;
}
footer .fxAllRights .fxAllRights-links{gap:24px ;}
footer .fxAllRights a{
    color: #1D1E1C;
    font-size: 14px;
    line-height: 150%; 
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}
@media (min-width:1706.67px) {
    footer .fx-footer .footer-part h5{font-size: 22px;} 
    footer .fx-footer .footer-part a{font-size: 20px;}
    footer .fx-footer .footer-part a:hover{font-size: 21px;}
    footer .fx-footer .footer-part p,
    footer .fxAllRights p,
    footer .fxAllRights a{font-size: 16px;}
    footer .fx-footer .footer-part1 .form-group input{font-size: 16px;}
    footer .fx-footer .footer-part1 .form-group .btn-footer{height: 50px;font-size: 16px;}
}
@media (min-width:1920px) {
    footer .fx-footer .footer-part h5{font-size: 25px;} 
    footer .fx-footer .footer-part a{font-size: 24px;}
    footer .fx-footer .footer-part a:hover{font-size: 25px;}
    footer .fx-footer .footer-part p,
    footer .fxAllRights p,
    footer .fxAllRights a{font-size: 18px;}
    footer .fx-footer .footer-part1 .fx-images{gap: 16px;margin-top: 16px;}
    footer .fx-footer .footer-part1 .fx-images img{width: 60px;}
    footer .fx-footer .footer-part1 .form-group .btn-footer{height:60px;font-size: 18px;}
    footer .fx-footer .footer-part1 .form-group input{font-size: 18px;}
}
@media (min-width:2048px) {
    footer .fx-footer .footer-part h5{font-size: 29px;} 
    footer .fx-footer .footer-part a{font-size: 27px;}
    footer .fx-footer .footer-part a:hover{font-size: 28px;}
    footer .fx-footer .footer-part p,
    footer .fxAllRights p,
    footer .fxAllRights a{font-size: 20px;}
    footer .fx-footer .footer-part1 .fx-images{gap: 24px;margin-top: 20px;}
    footer .fx-footer .footer-part1 .fx-images img{width: 70px;}
    footer .fx-footer .footer-part1 .form-group .btn-footer{height:70px;font-size: 20px;}
    footer .fx-footer .footer-part1 .form-group input{font-size: 20px;}
}
@media (min-width:2048px) {
    
}
@media (max-width:1228.8px) {
    footer .fx-footer .footer-part .fx-footer-links{gap: 8px;}
    footer .fx-footer .footer-part a{font-size: 16px;}
    footer .fx-footer .footer-part a:hover{font-size: 17px;}
    footer .fx-footer .footer-part h5{font-size: 15px; white-space: pre;}
    footer .fx-footer .footer-part .services-supply{white-space: normal;}
    footer .fx-footer{gap: 120px;padding-top: 9rem;}
    footer .fx-footer .footer-part1{
        flex: 1 1 calc(40% - 120px);
        max-width: calc(40% - 0px);
    }
    footer .fxFooter-part2{
        gap: 70px;
        flex: 1 1 calc(60% - 120px);
        max-width: calc(60% - 0px);
    }
    footer .fx-footer .footer-part2{
        flex: 1 1 calc(33.3% - 70px);
        max-width: calc(33.3% - 0px);
    }
    footer .fx-footer .footer-part p{
        font-size: 12px;
        line-height: 158%;
    }
    footer .fx-footer .footer-part1 .backWhite{padding: 24px 16px;}
}
@media (max-width:1024px) {
    footer .fx-footer{gap: 80px;padding-top: 7.5rem;}
    footer .fx-footer .footer-part1{
        flex: 1 1 calc(40% - 80px);
        max-width: calc(40% - 0px);
    }
    footer .fxFooter-part2{
        gap: 50px;
        flex: 1 1 calc(60% - 80px);
        max-width: calc(60% - 0px);
        padding-top: 1.2rem;
    }
    footer .fx-footer .footer-part2{
        flex: 1 1 calc(33.3% - 50px);
        max-width: calc(33.3% - 0px);
    }
    footer .fx-footer .footer-part .footer-logo{width: 100%;}
    footer .fx-footer .footer-part1 .form-group{gap: 8px;}
    footer .fx-footer .footer-part1 .form-group .btn-footer{
        height: 35px;
        font-size: 12px;
        padding: 0 16px;
    }
    footer .fx-footer .footer-part a{font-size: 14px;}
    footer .fx-footer .footer-part a:hover{font-size: 15px;}
    footer .fx-footer .footer-part h5{font-size: 14px;}
    footer .fx-footer .footer-part1 .fx-images img{width: 35px;}
    footer .fx-footer .footer-part1 .backWhite{padding:16px;}
    footer .fx-footer .footer-part1 .form-group input{
        height: 35px;
        font-size: 11px;
    }
    footer .fx-footer .footer-part p,
    footer .fx-footer .footer-part1 .form-group{margin-bottom: 16px;}
}
@media (max-width:877.71px) {
    footer .fx-footer{gap: 50px;padding-top: 10.5rem;}
    footer .fx-footer .footer-part1{
        flex: 1 1 calc(40% - 50px);
        max-width: calc(40% - 0px);
    }
    footer .fxFooter-part2{
        gap: 32px;
        flex: 1 1 calc(60% - 50px);
        max-width: calc(60% - 0px);
        padding-top: 1.2rem;
    }
    footer .fx-footer .footer-part2{
        flex: 1 1 calc(50% - 32px);
        max-width: calc(50% - 0px);
        text-align: center;
    }
    footer .fx-footer .footer-part5{
        flex: 1 1 calc(100% - 32px);
        max-width: calc(100% - 0px);
    }
    footer .gap-divs-footer{flex-direction: row;gap:32px ;}
    footer .gap-divs-footer div{width: 50%}
    footer .fx-footer .footer-part .fx-footer-links{margin: auto;}    
    footer .fx-footer .footer-part a{font-size: 12px;}
    footer .fx-footer .footer-part a:hover{font-size: 13px;}
}
@media (max-width:768px) {
    footer .fx-footer{gap: 30px;padding-top: 10.5rem;}
    footer .fx-footer .footer-part1{
        flex: 1 1 calc(40% - 30px);
        max-width: calc(40% - 0px);
    }
    footer .fxFooter-part2{
        gap: 32px;
        flex: 1 1 calc(60% - 30px);
        max-width: calc(60% - 0px);
        padding-top: 1.2rem;
    }
}
@media (max-width:614.4px) {
    footer{
        background-image: url(../images/footerBackgroundMB.png);
    }
    .footer-container{padding: 0px 20px;}
    footer .fx-footer{gap: 40px;padding-top: 5.5rem}
    footer .fx-footer .footer-part1{
        flex: 1 1 calc(100% - 40px);
        max-width: calc(100% - 0px);
    }
    footer .fxFooter-part2{
        gap: 24px;
        flex: 1 1 calc(100% - 40px);
        max-width: calc(100% - 0px);
        padding-top: 1.2rem;
    }
    footer .fx-footer .footer-part2{
        flex: 1 1 calc(50% - 24px);
        max-width: calc(50% - 0px);
        text-align: center;
    }
    footer .fx-footer .footer-part5{
        flex: 1 1 calc(100% - 24px);
        max-width: calc(100% - 0px);
    }
    footer .fx-footer .footer-part a{font-size: 15px;width: max-content;}
    footer .fx-footer .footer-part h5{font-size:17px;white-space: normal;text-align: start;}
    footer .fx-footer .footer-part p{font-size: 14px;}
    footer .fxAllRights{flex-direction: column;gap: 16px;}
    footer .fx-footer .footer-part1 .form-group input,
    footer .fx-footer .footer-part1 .form-group .btn-footer{
        height: 45px;
        font-size: 14px;
    }
    footer .fx-footer .footer-part .fx-footer-links{margin: 0;}
    footer .fxAllRights p{font-size: 11px;}
    
}