@font-face {
  font-family: 'Dubai Bold';
  src: url(../fonts/dubai/Dubai-Bold.ttf);
}
@font-face {
  font-family: 'Dubai Medium';
  src: url(../fonts/dubai/Dubai-Medium.ttf);
}
@font-face {
  font-family: 'Dubai';
  src: url(../fonts/dubai/Dubai-Regular.ttf);
}
@font-face {
  font-family: 'Dubai Light';
  src: url(../fonts/dubai/Dubai-Light.ttf);
}
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter/Inter-Regular.ttf);
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url(../fonts/PlusJakartaSans[wght].ttf);
}
@font-face {
  font-family: 'Tajawal Bold';
  src: url(../fonts/Tajawal/Tajawal-Bold.ttf);
}
@font-face {
  font-family: 'Tajawal';
  src: url(../fonts/Tajawal/Tajawal-Regular.ttf);
}
@font-face {
  font-family: 'Tajawal ExtraBold';
  src: url(../fonts/Tajawal/Tajawal-ExtraBold.ttf);
}
@font-face {
  font-family: 'Tajawal Medium';
  src: url(../fonts/Tajawal/Tajawal-Medium.ttf);
}
@font-face {
  font-family: 'SegoeUI Bold';
  src: url(../fonts/segoeui/SegoeUIBold.ttf);
}
@font-face {
  font-family: 'SegoeUI';
  src: url(../fonts/segoeui/SegoeUI.ttf);
}
@font-face {
  font-family: 'GE SS Two';
  src: url(../fonts/geSsTwo/ArbFONTS-GE-SS-Two-Light_28.otf);
}
@font-face {
  font-family: 'GE SS Two Bold';
  src: url(../fonts/geSsTwo/ArbFONTS-GE_SS_Two_Bold_4.otf);
}
@font-face {
  font-family: 'GE SS Two Medium';
  src: url(../fonts/geSsTwo/ArbFONTS-GE_SS_TWO_MEDIUM_5.otf);
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url(../fonts/plus-jakarta-sans/PlusJakartaSans[wght].ttf);
}
@font-face {
  font-family:"29LT Zeyn";
  src: url(../fonts/29LT\ Zeyn.ttf);
}
:root {
  --font-size-143: 143px;
  --line-height-110: 110px;
  --color-white-solid: #fff;
  --letter-spacing--8: 8px;
}
* {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
}
p {margin-bottom: 0px;}
body {
  position: relative;
  overflow-x: hidden;
  background-color: #FFF !important;
  font-size: 1rem;
}
main {position: relative;}
a, button {
  cursor: pointer;
}
a, .btn-hover {
  transition: 0.3s;
  cursor: pointer;
}
input:focus-visible {
  outline: none;
}
.btn-hover:hover {
  transform: scale(0.9);
}
/* My Library */
section { position: relative; }
p, button, a { font-size: 1rem; }
.text-center { text-align: center; }
.mb-0 { margin-bottom: 0 !important; }
.mt-1 { margin-top: 0.5rem !important; }
.mt-2 { margin-top: 1rem !important; }
.mt-3 { margin-top: 1.5rem !important; }
.mt-4 { margin-top: 2rem !important; }
.mt-5 { margin-top: 2.5rem !important; }
.gap-0 { gap: 0 !important; }
.gap-1 { gap: .25rem !important; }
.gap-2 { gap: .5rem !important; }
.gap-3 { gap: 1rem !important; }
.gap-4 { gap: 1.5rem !important; }
.gap-5 { gap: 3rem !important; }
.mx-auto { margin-left: auto !important; margin-right: auto !important; }
.d-flex { display: flex !important; }
.align-items-center { align-items: center !important; }
.align-items-start { align-items: flex-start !important; }
.align-items-end { align-items: flex-end !important; }
.w-100 { width: 100%; }
.h-100 { height: 100%; }
.fxWrap{flex-wrap: wrap;}
.text-start { text-align: start !important; }
.justify-content-center { justify-content: center !important; }
.justify-content-between { justify-content: space-between !important; }
.pe-2 { padding-right: 8px; }
.text-capitalize { text-transform: capitalize !important; }
.text-uppercase { text-transform: uppercase !important; }
.m-auto { margin: auto !important; }
.mx-0 { margin-right: 0 !important; margin-left: 0 !important; }
.flex-column { flex-direction: column !important; }
.pe-0 { padding-right: 0 !important; }
.d-block { display: block !important; }
.pb-0 { padding-bottom: 0 !important; }
.pt-1 { padding-top: 0.5rem !important; }
.pt-2 { padding-top: 1rem !important; }
.pt-3 { padding-top: 1.5rem !important; }
.pt-4 { padding-top: 2rem !important; }
.pt-5 { padding-top: 2.5rem !important; }
/* Sections */
.white-space-preLine {
  white-space: pre-line;
}
.style-font {
  font-family: "Dubai";
  font-weight: 400;
}
.font-bold {
  font-family: 'Dubai Bold';
  font-weight: 700;
}
.font-semiBold {
  font-family: "Dubai";
  font-weight: 600;
}
.font-medium {
  font-family: 'Dubai Medium';
  font-weight: 500;
}
.font-ExtraBold {
  font-family: 'Dubai ExtraBold';
}
.font-Jakarta  {
  font-family: "Plus Jakarta Sans";
}
.weight700{font-weight: 700;}
.px-90 { padding: 0 90px; }
.px-50 { padding: 0 50px; }
.px-100 { padding: 0 100px; }
.px-80 { padding: 0 80px; }
.px-120 { padding: 0 120px; }
.w190 { width: 190px; }
.h54px { height: 54px; }
.w205 { width: 205px; }
.w171 { width: 171px; }
.h52px { height: 52px; }
.h48px { height: 48px; }
@media (min-width:1706.67px) {
  .w205 { width: 220px; }
  .h48px { height: 55px; }
  .w171 { width: 191px; }
}
@media (min-width:1920px) {
  .px-120 { padding: 0 140px; }
  .px-100 { padding: 0 120px; }
  .px-50 { padding: 0 70px; }
  .w190 { width: 210px; }
  .h54px { height: 64px; }
  .w205 { width: 255px; }
  .h52px { height: 60px; }
  .h48px { height: 60px; }
  .w171 { width: 210px; }
}
@media (max-width:1396.36px) {
  .px-120 { padding: 0 100px; }
  .px-80 { padding: 0 40px; }
  .px-100 { padding: 0 90px; }
  .px-90 { padding: 0 70px; }
  .px-50 { padding: 0 40px; }
  .w190 { width: 170px; }
  .h54px { height: 48px; }
  .w205 { width: 195px; }
  .h52px { height:48px; }
  .h48px { height: 45px; }
  .w171 { width: 160px; }
}
@media (max-width:1228.8px) {
  .px-120 { padding: 0 40px; }
  .px-100 { padding: 0 50px; }
  .px-90 { padding: 0 50px; }
  .px-50 { padding: 0 30px; }
  .w190 { width: 160px; }
  .h54px { height: 44px; }
  .w205 { width: 185px; }
  .h52px { height:45px; }
  .h48px { height: 42px; }
  .w171 { width: 150px; }
}
@media (max-width:1024px) {
  .px-90 { padding: 0 30px; }
  .w190 { width: 150px; }
  .h54px { height: 40px; }
  .w205 { width: 175px; }
  .h52px { height:40px; }
  .h48px { height: 40px; }
  .w171 { width: 140px; }
}
@media (max-width:877.71px) {
  .px-80 { padding: 0 30px; }
  .px-120 { padding: 0 30px; }
  .px-100 { padding: 0 40px; }
  .px-50 { padding: 0 25px; }
  .h48px { height: 38px; }
}

@media (max-width:768px) {
  .px-80 { padding: 0 20px; }
  .px-120 { padding: 0 20px; }
  .px-100 { padding: 0 20px; }
  .px-90 { padding: 0 20px; }
  .px-50 { padding: 0 20px; }
}
.plyr__video-wrapper {
  height: 100% !important;
}
.grid-Header {
  position: absolute;
  left: 50%;
  top: -8rem;
  transform: translate(-50%, 0);
  opacity: 0.5;
}
.pre-whiteSpace {
  white-space: pre;
}
.btn-blue {
  border-radius: 20px;
  background: #00CFFF;
  border: none;
  display: flex;
  height: 50px;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  white-space: pre;
  color: #fff;
  transition: 0.3s;
  font-size: 20px;
  white-space: normal;
}
.btn-blue:hover {
  background: #0591b0;
}
.btnDarkBlue{
  border-radius: 20px;
  background: #0B63E5;
  border: none;
  display: flex;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #fff;
  transition: 0.3s;
  white-space: normal;
}
.btnDarkBlue:hover{background: #fff;border: 1px solid #0B63E5;color: #0B63E5;}
.btnDarkBlue:hover span{color: #0B63E5;}
.btnDarkBlue:hover img{
  filter: brightness(0) saturate(100%) invert(27%) sepia(95%) saturate(1556%) hue-rotate(200deg) brightness(95%) contrast(103%);
}
.btn-outline-blue {
  border-radius: 20px;
  border: 1.5px solid #00CFFF;
  display: flex;
  height: 54px;
  width: max-content;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #00CFFF;
  font-size: 20px;
  background-color: transparent;
  transition: all 0.3s ease;
}
.btn-outline-blue img{
  filter: brightness(0) saturate(100%) invert(55%) sepia(42%) saturate(2452%) hue-rotate(156deg) brightness(107%) contrast(108%);
}
.btn-outline-blue span {
  white-space: pre;
}
.btn-outline-blue:hover,
.btn-outline-blue.active {
  background: #08cefb;
  color: #fff;
}
.btn-outline-blue:hover img,
.btnDarkBlue img{
  filter: brightness(0) saturate(100%) invert(88%) sepia(89%) saturate(1%) hue-rotate(186deg) brightness(111%) contrast(97%);
}

.btn-yellow {
  border-radius: 20px;
  background: #FFB600;
  display: flex;
  width: 183.817px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  line-height: 150%;
  transition: 0.3s;
  white-space: pre;
}
.btn-yellow:hover {
  transform: scale(0.9);
}

.btnWhite {
  border-radius: 16px;
  background: #EFF6FF;
  display: flex;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-align: center;
  font-size: 20px;
  line-height: 150%;
  transition: all 0.3s ease;
  white-space: normal;
}
.btnWhite:hover{
  border: 1px solid #EFF6FF;
  background: transparent;
  color: #fff;
}
.btnOutlineWhite {
  border-radius: 16px;
  border: 1px solid #EFF6FF;
  background: transparent;
  color: #fff;
  display: flex;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-align: center;
  font-size: 20px;
  line-height: 150%;
  transition: all 0.3s ease;
  white-space: normal;
}
.btnOutlineWhite img{
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(152deg) brightness(103%) contrast(103%);
}
.btnOutlineWhite:hover img{
filter: brightness(0) saturate(100%) invert(13%) sepia(54%) saturate(3327%) hue-rotate(214deg) brightness(91%) contrast(101%);}
.btnOutlineWhite:hover{
  border: 1px solid #EFF6FF;
  background: #fff;
  color: #090F74;
}
@media (min-width:1920px) {
  .btn-yellow {
    font-size: 24px;
    height: 75px;
    width: 200px;
  }
  .btn-outline-blue {
    font-size: 23px;
    height: 65px;
    padding: 32px;
  }
  .energy-five .fx-head .btn-outline-blue img {width: 35px;}
}
@media (max-width:1288.8px) {
  .btn-yellow {
    font-size: 16px;
    height: 45px;
    width: 140px;
  }
  .btn-outline-blue {
    font-size: 16px;
    height: 48px;
  }
}
@media (max-width:1024px) {
  .btn-outline-blue {
    font-size: 14px;
    height: 44px;
    padding: 0 16px;
  }
  .energy-five .fx-head .btn-outline-blue img {
    width: 17px;
  }
}
@media (max-width:877.71px) {
  .btn-yellow {
    font-size: 13px;
    height: 38px;
    width: 110px;
  }
}
@media (max-width:768px) {
  .btn-outline-blue {
    height: 46px;
    padding: 0px 20px;
    gap: 4px;
    font-size: 16px;
  }

}
@media (max-width:512px) {
  .grid-Header {
    width: 100%;
    top: 0;
  }
}
.fx-general-cards {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  gap: 0;
}
.fx-general-card-st {
  box-sizing: border-box;
  width: max-content;
  transition: 0.3s;
}
.subtitle-one {
  color: #061C3D;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.12px;
}
.subtitle-50px {
  color: #061C3D;
  font-size: 50px;
  line-height: 60px;
}
.subtitle-40px {
  color: #262626;
  font-size: 40px;
  line-height: 50px;
}
.subtitle-30px {
  color: #262626;
  font-size: 30px;
  line-height: 40px;
}
.subtitle-two {
  color: #42526B;
  font-size: 18px;
  line-height: 26px;
  width: 75%;
}
.subtitle21px {
  color: #6E6F71;
  font-size: 21px;
  line-height: 200%;
}
.head-title .titleImage{
    width: 130px;
}
.head-title h1 {
  width: max-content;
}
.lineHeight100 {line-height: 100%;}
.lineHeight140 {line-height: 140%;}
.lineHeight120 {line-height: 120%;}
.subtitle67px { font-size: 4.1875rem; }
.subtitle56px { font-size: 3.5rem; }
.subtitle48px { font-size: 3rem; }
.subtitle38px { font-size: 2.375rem; }
.subtitle25px { font-size: 1.5625rem; }
.subtitle28px { font-size: 1.75rem; }
.subtitle24px { font-size: 1.5rem; }
.subtitle20px { font-size: 1.25rem; }
.subtitle22px { font-size: 1.375rem; }
.subtitle18px { font-size: 1.125rem; }
.subtitle16px { font-size: 1rem; }
.subtitle44px { font-size: 2.75rem; }
.subtitle32px { font-size: 2rem; }
@media (min-width:1706.67px) {
  .subtitle-one { font-size: 3.875rem; }
  .subtitle-two { font-size: 1.3125rem; }
  .subtitle-50px { font-size: 3.4375rem; }
  .subtitle44px { font-size: 3rem; }
  .subtitle-40px { font-size: 2.8125rem; }
  .subtitle-30px { font-size: 2.1875rem; }
  .subtitle67px { font-size: 4.5rem; }
  .subtitle21px { font-size: 1.5rem; }
  .subtitle20px { font-size: 1.4375rem; }
  .subtitle24px { font-size: 1.625rem; }
  .subtitle18px { font-size: 1.25rem; }
  .subtitle38px { font-size: 2.625rem; }
  .subtitle25px { font-size: 1.6875rem; }
  .subtitle56px { font-size: 3.75rem; }
  .subtitle28px { font-size: 1.875rem; }
  .subtitle16px { font-size: 1.125rem; }
  .subtitle48px { font-size: 3.25rem; }
  .subtitle22px { font-size: 1.5rem; }
  .subtitle32px { font-size: 2.125rem; }
}
@media (min-width:1920px) {
  .subtitle-one { font-size: 4.25rem; }
  .subtitle44px { font-size: 3.25rem; }
  .subtitle-two { font-size: 1.5rem; }
  .subtitle-50px { font-size: 3.75rem; }
  .subtitle-40px { font-size: 3.125rem; }
  .subtitle21px { font-size: 1.75rem; }
  .subtitle-30px { font-size: 2.5rem; }
  .subtitle67px { font-size: 5rem; }
  .subtitle20px { font-size: 1.625rem; }
  .subtitle24px { font-size: 1.8125rem; }
  .subtitle18px { font-size: 1.4375rem; }
  .subtitle38px { font-size: 2.875rem; }
  .subtitle56px { font-size: 4rem; }
  .subtitle25px { font-size: 1.875rem; }
  .subtitle28px { font-size: 2.0625rem; }
  .subtitle48px { font-size: 3.5rem; }
  .subtitle16px { font-size: 1.25rem; }
  .subtitle22px { font-size: 1.6875rem; }
  .subtitle32px { font-size: 2.3125rem; }
}
@media (min-width:2048px) {
  .subtitle25px { font-size: 2.125rem; }
  .subtitle44px { font-size: 3.5rem; }
  .subtitle56px { font-size: 4.1875rem; }
  .subtitle28px { font-size: 2.25rem; }
  .subtitle48px { font-size: 3.75rem; }
  .subtitle16px { font-size: 1.5rem; }
  .subtitle22px { font-size: 1.875rem; }
  .subtitle32px { font-size: 2.4375rem; }
}
@media (max-width:1396.36px) {
  .subtitle-one { font-size: 3.125rem; }
  .subtitle44px { font-size: 2.625rem; }
  .subtitle-50px { font-size: 2.8125rem; }
  .subtitle-40px { font-size: 2.1875rem; }
  .subtitle21px { font-size: 1.1875rem; }
  .subtitle-30px { font-size: 1.5625rem; }
  .subtitle67px { font-size: 4rem; }
  .subtitle20px { font-size: 1.125rem; }
  .subtitle24px { font-size: 1.375rem; }
  .subtitle18px { font-size: 1rem; }
  .subtitle38px { font-size: 2.125rem; }
  .subtitle25px { font-size: 1.4375rem; }
  .subtitle56px { font-size: 3.25rem; }
  .subtitle28px { font-size: 1.625rem; }
  .subtitle48px { font-size: 2.75rem; }
  .subtitle22px { font-size: 1.25rem; }
  .subtitle32px { font-size: 1.875rem; }
}
@media (max-width:1228.8px) {
  .subtitle-50px { font-size: 2.5rem; }
  .subtitle44px { font-size: 2.375rem; }
  .subtitle-40px { font-size: 1.875rem; }
  .subtitle21px { font-size: 1.0625rem; }
  .subtitle-30px { font-size: 1.25rem; }
  .subtitle67px { font-size: 3.5rem; }
  .subtitle20px { font-size: 1rem; }
  .subtitle24px { font-size: 1.25rem; }
  .subtitle18px { font-size: 0.875rem; }
  .subtitle38px { font-size: 2rem; }
  .subtitle25px { font-size: 1.3125rem; }
  .subtitle56px { font-size: 3rem; }
  .subtitle28px { font-size: 1.5rem; }
  .subtitle48px { font-size: 2.5rem; }
  .subtitle16px { font-size: 0.875rem; }
  .subtitle22px { font-size: 1.125rem; }
  .subtitle32px { font-size: 1.75rem; }
}
@media (max-width:1024px) {
  .subtitle-one { font-size: 2.5rem; }
  .subtitle44px { font-size: 2rem; }
  .subtitle-50px { font-size: 2.1875rem; }
  .subtitle-40px { font-size: 1.5625rem; }
  .subtitle21px { font-size: 0.9375rem; }
  .subtitle67px { font-size: 3rem; }
  .subtitle20px { font-size: 0.875rem; }
  .subtitle24px { font-size: 1.125rem; }
  .subtitle18px { font-size: 0.8125rem; }
  .subtitle38px { font-size: 1.625rem; }
  .subtitle25px { font-size: 1.125rem; }
  .subtitle56px { font-size: 2.5rem; }
  .subtitle28px { font-size: 1.25rem; }
  .subtitle48px { font-size: 2.375rem; }
  .subtitle16px { font-size: 0.8125rem; }
  .subtitle22px { font-size: 1rem; }
  .subtitle32px { font-size: 1.5rem; }
}
@media (max-width:877.71px) {
  .subtitle-one { font-size: 2.1875rem; }
  .subtitle-30px { font-size: 1.125rem; }
  .subtitle67px { font-size: 2.5rem; }
  .subtitle38px { font-size: 1.5rem; }
  .subtitle25px { font-size: 1rem; }
  .subtitle28px { font-size: 1rem; }
  .subtitle48px { font-size: 2rem; }
  .subtitle16px { font-size: 0.6875rem; }
  .subtitle22px { font-size: 0.8125rem; }
  .subtitle32px { font-size: 1.25rem; }
}
@media (max-width:768px) {
  .subtitle67px { font-size: 2.375rem; }
  .subtitle32px { font-size: 1.125rem; }
}
@media (max-width:614.4px) {
  .subtitle-one { font-size: 2.1875rem; }
  .subtitle-50px { font-size: 1.75rem; }
  .subtitle-40px { font-size: 1.5625rem; }
  .subtitle-30px { font-size: 1.25rem; }
  .subtitle24px { font-size: 1.125rem; }
  .subtitle18px { font-size: 0.9125rem; }
  .subtitle56px { font-size: 2rem; }
  .subtitle28px { font-size: 1.125rem; }
  .head-title h1{font-size: 1.425rem;}
}

/* Font Sizes Style */
.fontSize24px { font-size: 24px; }
.fontSize48px { font-size: 48px; }
.h57px { height: 57px; }
.h54px { height: 54px; }
.w170px { width: 170px; }
@media (min-width:1706.67px) {
  .fontSize24px { font-size: 26px; }
  .h57px { height: 63px; }
  .h54px { height: 60px; }
  .w170px { width: 190px; }
  .fontSize48px { font-size: 54px; }
}
@media (min-width:1920px) {
  .fontSize24px { font-size: 29px; }
  .h57px { height: 68px; }
  .w170px { width: 210px; }
  .fontSize48px { font-size: 59px; }
  .h54px { height: 66px; }
}
@media (min-width:2048px) {
  .fontSize24px { font-size: 32px; }
  .h57px { height: 73px; }
  .w170px { width: 230px; }
  .fontSize48px { font-size: 62px; }
  .h54px { height: 71px; }
}
@media (max-width:1396.36px) {
  .fontSize24px { font-size: 22px; }
  .fontSize48px { font-size: 42px; }
  .h54px { height: 50px; }
}
@media (max-width:1228.8px) {
  .fontSize24px { font-size: 20px; }
  .h57px { height: 52px; }
  .w170px { width: 160px; }
  .fontSize48px { font-size: 36px; }
  .h54px { height: 48px; }
}
@media (max-width:1024px) {
  .fontSize24px { font-size: 16px; }
  .h57px { height: 48px; }
  .w170px { width: 140px; }
  .fontSize48px { font-size: 32px; }
  .h54px { height: 45px; }
}
@media (max-width:877.71px) {
  .fontSize24px { font-size: 14px; }
  .h57px { height: 45px; }
  .w170px { width: 130px; }
  .h54px { height: 40px; }
}
@media (max-width:614.4px) {
  .fontSize24px { font-size: 16px; }
  .w150px { width: 130px; }
}
.plyr audio, .plyr video {
  height: 100% !important;
  object-fit: cover;
}
.arrow-slider .arrow-sliderImg:hover {
  background: #00CFFF;
  transform: scale(0.9);
}
.arrow-slider .arrow-sliderImg:hover img {
  filter: brightness(0) invert(1);
}
.arrow-slider .arrow-sliderImg {
  border-radius: 150px;
  background: #F0F5FF;
  padding: 16px;
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Plyr style */
body .plyr--stopped.plyr__poster-enabled .plyr__poster {
  background-size: cover;
}
body .plyr--full-ui.plyr--video .plyr__control--overlaid {
  background: #FFF;
  color: rgba(20, 28, 164, 1);
  box-shadow: none;
  width: 58px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*End Plyr style */
.href-a {
  text-decoration: none;
  gap: 8px;
  transition: 0.3s;
}
.href-a span {
  color: #0B63E5;
  font-size: 1rem;
  transition: 0.3s;
  white-space: pre;
  width: max-content;
}
.href-a:hover {
  transform: scale(0.95);
}
.href-a:hover span {
  color: #061C3D;
}
.public-p {
  color: #42526B;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 24px;
}
.fx-head-title {
  align-items: center;
}
.fx-tilte-blue {
  gap: 10px;
}
.fx-tilte-blue span {
  color: #00CFFF;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 1.4px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 11.5%;
  /* 1.61px */
  text-underline-offset: 18.5%;
  /* 2.59px */
  text-underline-position: from-font;
  text-transform: uppercase;
}
.flatpickr-monthSelect-month,
.flatpickr-current-month input.cur-year{
  font-family: 'Dubai';
  font-weight: 400;
}
.flatpickr-input{
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
.coverBackground {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 5000;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.coverBackground.show {
  display: block;
  opacity: 1;
}
.color-yellow {color: #FFB600 !important;}
.color-blue {color: #00CFFF !important;}
.colorWhite {color: #fff;}
.colorWhite2 {color: #EFEFEF;}
.colorBlack {color: #000;}
.colorMove {color: #724AFF;}
.colorMove2 {color: #5B4E8A;}
.colorBlue {color: #141CAF;}
.colorBlue2 {color: #9ABEF3;}
.colorBlue3 {color: #0B63E5;}
.colorBlue4 {color: #1D2392;}
.colorBlue5 {color: #5686F5;}
.colorBlue6 {color: #72A4DD;}
.colorBlueDark {color: #1D1E1C;}
.colorBlueDark2 {color: #061C3D;}
.colorBlueDark3 {color: #090F74;}
.colorBlueDark4 { color: #101828;}
.colorBlueDark5 {color: #112E6F;}
.colorBlueDark6 {color: #20519C;}
.colorBlueDark7{color: #013B59;}
.colorBlueDark8{color: #3D4060;}
.colorBlueDark9{color: #053A88;}
.colorBlueDark10{color: #0F2137;;}
.colorGrey {color: #42526B;}
.colorGrey2 {color: #838E9E;}
.colorGrey3 {color: #435169;}
.colorGrey4 {color: #838383;}
.colorGrey5 {color: #727272;}
.colorGrey6 {color: #344054;}
.colorGrey7 {color: #444;}
.colorGrey8 {color: #848992;}
.colorGrey9 {color: #667085;}
.colorGrey10 {color: #555;}
.colorGrey10 {color: #696A80;}
.colorGrey12{color: #595959;}
.linearColorBlue{
  background: linear-gradient(90deg, #0B63E5 0%, #00CFFF 63.12%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn-seeMore {
  width: 243px;
  height: 60px;
  font-size: 19px;
  border-radius: 999px;
  margin: auto;
}
.numberLines {
  display: -webkit-box;
  /* -webkit-line-clamp: 4; */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* Pagination */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 40px;
}
.pagination button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 12px;
  border: 2px solid #EAEAEA;
  background: #FFF;
  color: #9C9C9C;
  line-height: 30px;
  transition: 0.3s;
}
.pagination button:hover,
.pagination button.active{
  border: 2px solid #00CFFF;
  color: #00CFFF;
}
.pagination button:hover img,
.pagination button.active img {
  filter: brightness(0) saturate(100%) invert(72%) sepia(23%) saturate(7476%) hue-rotate(150deg) brightness(100%) contrast(107%);
}
.pagination .arrowLeft img{
  transform: rotate(180deg);
  filter: brightness(0) saturate(100%) invert(72%) sepia(23%) saturate(7476%) hue-rotate(150deg) brightness(100%) contrast(107%);
}
.pagination .arrowLeft{
  border: 2px solid #00CFFF;
  opacity: 0.3;
}
.pagination .arrowRight{
  border: 2px solid #0B63E5;
}
.gridHeader {
  position: absolute;
  top: -10rem;
  left: -10rem;
  opacity: 0.5;
  width: 55%;
}
.section-six .gridHeader, .section-four .gridHeader {
  top: -15rem;
  left: -12rem;
}
.counter {transition: all 0.3s ease;}
@media (min-width:1706.67px) {
  .pagination button {
    width: 60px;
    height: 60px;
  }

  .btn-blue {
    height: 65px;
    font-size: 23px;
    padding: 0 32px;
  }

  .href-a img {
    width: 30px;
  }

  .public-p {
    font-size: 16px;
    margin-bottom: 32px;
  }

  .href-a span {
    font-size: 1.1rem;
  }

  .gridHeader {
    top: -12rem;
    left: -12rem;
  }

  .section-six .gridHeader {
    top: -17rem;
  }
}

@media (min-width:1920px) {
  .btn-blue {
    height: 75px;
    font-size: 26px;padding: 0 40px;
  }
  .public-p {font-size: 19px;}
  .href-a span {font-size: 1.3rem;}
  .arrow-slider .arrow-sliderImg {padding: 25px;}
  .arrow-slider .arrow-sliderImg img {width: 25px;}
  .pagination button {width: 70px;height: 70px;}
  .gridHeader {
    top: -15rem;
    left: -15rem;
  }
  .section-six .gridHeader,
  .section-four .gridHeader {top: -19rem;}
}
@media (min-width:2304px) {
  .section-six .gridHeader,
  .section-four .gridHeader {top: -22rem;}
}
@media (min-width:2048px) {
  html {width: 2050px;margin: auto;}
}
@media (max-width:1396.36px) {}
@media (max-width:1228.8px) {
  .btn-blue {
    padding: 0 15px;
    height: 42px;
    font-size: 16px;
  }
  .href-a span {font-size: 0.9rem;white-space: pre;}
  .href-a img {width: 20px;}
  .public-p {font-size: 14px;margin-bottom: 16px;}
  .btn-seeMore {
    width: 220px;
    height: 50px;
    font-size: 17px;
  }
  .pagination button {
    width: 40px;
    height: 40px;
  }
  .pagination button img {width: 8px;}
  .gridHeader {top: -5rem;}
}
@media (max-width:1024px) {
  .href-a span {font-size: 0.8rem}
  .public-p {
    font-size: 12px;
    margin-bottom: 14px;
    line-height: 20px;
  }
  .btn-seeMore {
    width: 180px;
    height: 45px;
    font-size: 15px;
  }
  .gridHeader {top: -3rem;}
  .pagination{gap: 12px;margin-top: 32px;}
}
@media (max-width:877.71px) {
  .btn-blue {
    height: 35px;
    font-size: 14px;
  }
}
@media (max-width:768px) {
  .gridHeader {
    top: -1rem;
    left: -5rem;
  }
}
@media (max-width:614.4px) {
  .btn-blue {
    height: 45px;
    font-size: 17px;
    padding: 0 20px;
  }
  .href-a span {font-size: 1rem}
  .btn-seeMore {width: 150px;}
  .gridHeader {top: -1rem;width: 100%; left: -5rem;}
  .section-four .gridHeader,
  .section-six .gridHeader {top: -5rem;}
  .pagination{gap: 6px;margin-top: 24px;}
}

@media (max-width:512px) {
  .fx-head-title {flex-direction: column;gap: 24px;align-items: start;}
  .head-title h1 {margin-bottom: 8px;width: 100%;}
  .head-title p {width: 100%;}
}





@media (min-width:1706.67px) {}
@media (min-width:1920px) {}
@media (min-width:2048px) {}
@media (min-width:2304px) {}
@media (min-width:3072px) {}
@media (max-width:1396.36px) {}
@media (max-width:1228.8px) {}
@media (max-width:1024px) {}
@media (max-width:877.71px) {}
@media (max-width:768px) {}
@media (max-width:614.4px) {}
@media (max-width:512px) {}