.etaSection1 {
    padding: 0px 0 20px 0;
    background-image: url(../images/back-etaSection1.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}
.etaSection1 .etaSection1Titles{
    width: 70%;
    margin: auto;
    padding-top: 122px;
}
.etaSection1 .etaSection1Titles h1{
    line-height: 100%;
    margin-bottom: 12px;
}
.etaSection1 .etaSection1Titles h1 img{
    position: relative;
    top: 0.5rem;
    width: 11%;
}
.etaSection1 .etaSection1Titles p{
    line-height: 172%;
    margin-bottom: 24px;
}
.etaSection1 .etaSection1Titles button{
    width: 210px;
    height:54px ;
    border-radius: 20px;
    font-size: 20px;
    margin-bottom: 40px;
}
.etaSection1 .etaSection1Video{
    width: 90%;
    margin: auto;
    padding: 30px;
    background: #E9FBFF;
    border-radius: 50px;
    height: 700px;
}
.etaSection1 .plyr__video-wrapper{
    height: 100%;
}
.etaSection1 .plyr audio,.etaSection1 .plyr video{
    height: 100%;
    object-fit: cover;
}
.etaSection1 .etaSection1Video .plyr {
    border-radius: 24px;
    height: 100%;
    width: 100%;
}

@media (min-width:1706.67px) {
    .etaSection1 .etaSection1Video{height: 740px;}
    .etaSection1 .etaSection1Titles button {width: 240px;height: 60px;font-size: 22px;}
    .etaSection1 .etaSection1Titles{padding-top: 140px;}
}
@media (min-width:1920px) {
    .etaSection1 .etaSection1Video{height: 790px;}
    .etaSection1 .etaSection1Titles button {width: 260px;height: 70px;font-size: 24px;}
    .etaSection1 .etaSection1Titles{padding-top: 160px;}
}
@media (min-width:2048px) {
    .etaSection1 .etaSection1Video{height: 840px;}
    .etaSection1 .etaSection1Titles button {width: 280px;height: 80px;font-size: 26px;}
    .etaSection1 .etaSection1Titles{padding-top: 200px;}
}
@media (max-width:1396.36px) {
    .etaSection1 .etaSection1Video{height: 650px;padding: 25px;}
    .etaSection1 .etaSection1Titles{width: 75%;}
    .etaSection1 .etaSection1Titles button {width: 190px;height: 55px;font-size: 18px;}
}
@media (max-width:1228.8px) {
    .etaSection1 .etaSection1Titles p{line-height: 150%;}
    .etaSection1 .etaSection1Titles{padding-top: 120px;}
    .etaSection1 .etaSection1Video{height: 600px;padding: 20px;}
    .etaSection1 .etaSection1Titles button {margin-bottom: 24px;}
}
@media (max-width:1024px) {
    .etaSection1 .etaSection1Titles h1 img{width: 11%;}
    .etaSection1 .etaSection1Titles{padding-top: 115px;}
    .etaSection1 .etaSection1Video{height: 500px;padding: 15px;}
    .etaSection1 .etaSection1Titles button {width: 160px;height: 50px;font-size: 15px;}
}
@media (max-width:877.71px) {
    .etaSection1 .etaSection1Titles{padding-top: 100px;}
    .etaSection1 .etaSection1Video{height: 450px;}
}
@media (max-width:614.4px) {
    .etaSection1 .etaSection1Titles{padding-top:32px;width: 88%;}
    .etaSection1 .etaSection1Video{height: 278px;}
    .etaSection1 .etaSection1Titles p{font-size: 16px;line-height: 150%;}
    .etaSection1 .etaSection1Titles h1{font-size: 34px;}
    .etaSection1 .etaSection1Titles h1 img{width: 25%;}
    .etaSection1 {background-image: url(../images/backMobileS1.png);}
}

/* /./////////////////////////// */

/* Section Logos */
.sectionLogos{
    margin: 7rem 0;
}
.sectionLogos .fxSectionLogos .slide{padding: 0 12px;}
.sectionLogos .fxSectionLogos .divLogo{
    border-radius: 4px;
    border: 1px solid rgba(201, 231, 255, 1);
    box-shadow: 0px 4px 20px 0 rgba(0, 0, 0, 0.04);
    background: rgba(255, 255, 255, 1);
    padding:15px 20px;
    position: relative;
    display: flex;
    align-items: center;
    transition: opacity 0.6s ease-in-out;
    margin: auto;
    width: 100%;
}
.sectionLogos .fxSectionLogos .divLogo.visible{
    opacity: 1;
}

.sectionLogos .fxSectionLogos .divLogo img{
    width: 100px;
    margin: auto;
    height: 100px;
    object-fit: contain;
}
 /* العنصر البديل داخل divLogo */
  .sectionLogos .fxSectionLogos .divLogo.show-placeholder {
    width: 75px;
    height: 75px;
    border-radius: 110px;
    border: 1px solid #CCC  !important;
    opacity: 1;
    margin: auto;
    top: 0;
  }
  .divLogo.show-placeholder img{display: none;}
  @media (min-width:1706.67px) {
  
  }
  @media (min-width:1920px) {
  
  }
  @media (min-width:2048px) {
  
  }
  @media (min-width:2304px) {
      
  }
  @media (min-width:3072px) {
      
  }
  @media (max-width:1396.36px) {
      
  }
  @media (max-width:1228.8px) {
    .sectionLogos .fxSectionLogos .divLogo{padding: 15px;}
    .sectionLogos .fxSectionLogos .divLogo img{width: 90px; height: 90px;}
  }
  @media (max-width:1024px) {
    .sectionLogos .fxSectionLogos .divLogo img{width: 70px; height: 70px;}
    .sectionLogos {margin:100px 0 0 0;}
  }
  @media (max-width:877.71px) {
    .sectionLogos .fxSectionLogos .divLogo.show-placeholder{height: 60px;width: 60px;}
  }
  @media (max-width:768px) {
      
  }
  @media (max-width:614.4px) {

    .sectionLogos .fxSectionLogos .divLogo.show-placeholder{
        height: 35px;width: 35px;padding: 0 !important;}
    .sectionLogos .fxSectionLogos .divLogo img{width: 60px; height: 60px;}
    .sectionLogos .fxSectionLogos .divLogo{padding:4px 4px;width: 100%;}
    .sectionLogos-container{width: 100%;padding: 0 20px;}
    .sectionLogos .fxSectionLogos .slide{padding: 0 6px;}
  }
  @media (max-width:512px) {
  }
  