.section-one{
   padding-top: 8rem;
   padding-bottom: 3rem;
  position: relative;
  height: 100%;
}
#animated-text {
  font-weight: bold;
  white-space: pre-wrap; /* Preserves line breaks */
}
.section-one-container{
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}
.section-one .back-sectionOne{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: -1;
}
.section-one  .fx-section-one{gap: 110px;}
.section-one .section-one-texts{
    position: relative;
    width: 48%;
}
.section-one .section-one-texts .logo-section1{
    width: 358.945px;
    height: 158.071px;
    position: absolute;
    left: -8rem;
    top: 0;
}
.section-one .section-one-texts h1{
    margin-top: 7.3rem;
    color: #1D1E1C;
    font-size: 54px;
    line-height: 100%;
    margin-bottom: 32px;
}
.section-one .section-one-texts p{
    color: #1D1E1C;
    font-size: 14px;
    line-height: 180%;
    margin-bottom: 30px;
}
.section-one .section-one-texts span{
    font-size: 17px;
}
.section-one .section-one-texts .btn-blue{
    margin-bottom: 40px;
}
.section-one .section-one-texts h5{
    color: #061C3D;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 18px;
}
.section-one .section-one-texts h5 span{
    color: #141CA4;
    font-size: 22px;
    font-family: 'Dubai Bold';
    letter-spacing: -0.264px;
}
.section-one .section-one-texts .fx-logos{
    flex-wrap: wrap;
    gap: 25px;
}
.section-one .section-one-texts .fx-logos img{
    width: 110px;
}
.section-one .section-one-video {
  cursor: pointer;
    height: 100%;
    position: relative;
    width: 52%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.section-one .section-one-video .plyr--video{
    height: 690px;
    width: 85%;
    padding: 16px;
    border-radius: 10px;
    background:rgba(255, 255, 255, 0.10);
}
.section-one .section-one-video .plyr video{object-fit: cover;}
.section-one .section-one-video .plyr__video-wrapper,.section-one .section-one-video .plyr video{
    height: 660px;
}
.section-one .section-one-video .plyr--captions-enabled [data-plyr=captions]{display: none;}
.section-one .section-one-video .plyr--full-ui.plyr--video .plyr__control--overlaid{
    background: #FFF;
    color: rgba(20, 28, 164, 1);
    box-shadow: none;
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-one .back-sectionOne2{display: none;}
@media (min-width: 480px) {
    .section-one .section-one-video .plyr--video .plyr__controls {
        padding: 35px 30px 20px;
        background: none;
    }
}
@media (min-width:1706.67px) {
    .section-one{padding-top: 10rem;}
    .section-one .section-one-texts h1 {font-size: 68px;line-height: 106%;}
    .section-one .section-one-texts p {font-size: 16px; line-height: 165%;}
    .section-one .section-one-texts h5,
    .section-one .section-one-texts h5 span{font-size: 25px;}
    .section-one .section-one-texts .fx-logos img {width: 148px;}
    .section-one .section-one-video .plyr--video{width: 83%;}
    .section-one .section-one-video .plyr--video{height: 810px;}
    .section-one .section-one-video .plyr__video-wrapper,.section-one .section-one-video .plyr video{height: 780px;}
}
@media (min-width:1920px) {
    .section-one .section-one-texts h1 {font-size: 75px;}
    .section-one .section-one-texts p {font-size: 20px;}
    .section-one .section-one-texts h5,
    .section-one .section-one-texts h5 span{font-size: 28px;}
    .section-one .section-one-texts .fx-logos img {width: 160px;}
    .section-one .section-one-texts .fx-logos{gap: 40px;}
    .section-one .section-one-video .plyr--video{width: 82%;}
    .section-one .section-one-video .plyr--video{height: 850px;padding: 24px;}
    .section-one .section-one-video .plyr--video .plyr__controls {padding: 35px 70px 40px;background: none;}
    .section-one .section-one-video .plyr__video-wrapper,.section-one .section-one-video .plyr video{height: 810px;}
    .section-one .section-one-video .plyr--full-ui.plyr--video .plyr__control--overlaid{
        width: 80px;
        height: 80px;
    }
}
@media (min-width:2048px) {
    .section-one{padding-top: 12rem;}
    .section-one .section-one-video .plyr--video{width: 80%;}
     .section-one .section-one-video .plyr--video{height: 900px;width: 80%;}
    .section-one .section-one-video .plyr__video-wrapper,.section-one .section-one-video .plyr video{height: 860px;}

}
@media (min-width:2048px) {
    
}

@media (max-width:1396.36px) {
    .section-one .section-one-texts h1 {
        margin-top: 6.3rem;
        color: #1D1E1C;
        font-size: 47px;
        line-height: 110%;
        margin-bottom: 24px;
    }
    .section-one .section-one-texts .logo-section1 {
        width: 270.945px;
        height: 131.071px;
        left: -6rem;
    }
}
@media (max-width:1228.8px) {
    .section-one .section-one-texts h1{margin-bottom: 16px;margin-top: 5.4rem;}
    .section-one .section-one-texts p{margin-bottom: 20px;}
    .section-one .section-one-texts .btn-blue{margin-bottom: 30px;}
    .section-one .section-one-texts .fx-logos img{width: 100px;}
    .section-one .section-one-texts .logo-section1 {
        width: 238.945px;
        height: 115.071px;
        left: -4rem;
    }
    .section-one .section-one-texts{width: 50%;}
    .section-one .fx-section-one{gap: 85px;}
    .section-one .section-one-video{width: 50%;}
    .section-one .section-one-video .plyr--video{height: 610px;}
    .section-one .section-one-video .plyr__video-wrapper,.section-one .section-one-video .plyr video{height: 580px;}
}
@media (max-width:1024px) {
    .section-one{padding-bottom: 2rem;padding-top: 7rem;}
    .section-one .section-one-texts h1{font-size: 35px;margin-top: 4.8rem;}
    .section-one .section-one-texts p{font-size: 12px;line-height: 140%;}
    .section-one .section-one-texts h5{font-size: 20px;}
    .section-one .section-one-texts .fx-logos img{width: 85px;}
    .section-one .section-one-video .plyr--video{height: 530px;padding: 8px;}
    .section-one .section-one-video .plyr__video-wrapper,.section-one .section-one-video .plyr video{height: 513px;}
    .section-one .back-sectionOne{right: -3rem;}
     .section-one .section-one-texts .logo-section1 {
        width: 147.945px;
        height: 103.071px;
        left: -2rem;
    }
    .section-one .section-one-video .plyr--video .plyr__controls {padding: 35px 30px 20px;}
}
@media (max-width:877.71px) {
    header .fx-header-links .links-header a{font-size: 12px;}
    header .fx-header-links .links-header .active{font-size: 14px;}
    .section-one .back-sectionOne {right: -8rem;}
    .section-one .section-one-video{width: 50%;}
    .section-one .section-one-video .plyr--video .plyr__controls {
        padding: 35px 20px 20px;
    }
    .section-one .section-one-texts .fx-logos img{width: 70px;}
     .section-one .plyr--pip-supported [data-plyr=pip]{display: none;}
     .section-one .section-one-video .plyr--video{width: 90%;}
}
@media (max-width:768px) {
    .section-one {padding-top: 6rem;}
    .section-one .section-one-texts .logo-section1 {
        width: 121.945px;
        height: 82.071px;
        left: -1rem;
    }
      .section-one .section-one-texts .fx-logos img{width: 60px;}
    .section-one .section-one-texts h1 {margin-top: 3.4rem;font-size: 32px;}
    .section-one .section-one-video .plyr--video{height: 480px;width: 90%;}
    .section-one .section-one-video .plyr__video-wrapper,.section-one .section-one-video .plyr video{height: 460px;}

}
@media (max-width:614.4px) {
    .section-one .section-one-texts h1{font-size: 35px;}
    .section-one .fx-section-one{flex-direction: column;}
   .section-one .section-one-texts{width: 100%;padding-right: 20px;}
   .section-one .section-one-video{width: 100%;padding: 30px 0px;padding-right: 20px;}
   .section-one .section-one-video .plyr--video{width: 100%;}
    .section-one .back-sectionOne{display: none;}
    .section-one .back-sectionOne2{display: block;right: 0;width: 120px;}
    .section-one .fx-section-one{gap: 16px;}
    .section-one .section-one-video .plyr--video{height: 430px;}
    .section-one .section-one-video .plyr__video-wrapper,.section-one .section-one-video .plyr video{height: 413px;}
    .section-one .section-one-video .plyr--video .plyr__controls {padding: 35px 20px 20px;}
    .section-one .section-one-container{padding-right: 0;}
    .section-one{padding-top: 2rem;}
}

/* Section Six */
.section-six{margin-bottom: 50px;}
.section-six .arrow-slider{
    display: flex;
    align-items: center;
    gap: 16px;
}
.section-six .arrow-slider .arrow-sliderImg{
    border-radius: 150px;
    background: #F0F5FF;
    padding: 16px;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-six .arrow-slider .arrow-sliderImg img{
    width: 30px;
}
.section-six .arrow-slider  .ArrowRightClient{transform: rotate(180deg);}
.section-six .arrow-slider .arrow-sliderImg:hover{
    background: #00CFFF;
    transform: scale(0.9);
}
.section-six .arrow-slider .arrow-sliderImg:hover img{filter: brightness(0) invert(1);}
.section-six .sliderClients{margin-top: 48px;}
.section-six .fx-card-client{
    gap: 12px;
    align-items: center;
}
.section-six .card-client{
    border-radius: 24px;
    padding: 40px 40px 54px 40px;
    gap: 24px;
}
.section-six .card-client.backColor1{background: #FFF9EE;}
.section-six .card-client.backColor2{background: #E7F5E8;}
.section-six .card-client.backColor3{background: #F5F6F7;}
.section-six .card-client.backColor4{background: #F0F5FF;}
.section-six .card-client.backColor5{background: #F1EBFF;}
.section-six .card-client .img-client{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.section-six .card-client .card-client-texts h4{
    color:  #061C3D;
    font-size: 1rem;
    line-height: normal;
}
.section-six .card-client .card-client-texts p{
    color:  #42526B;
    font-size: 14px;
}
.section-six .card-client .card-client-texts p span{color: #141CA4;}
.section-six .card-client .card-text{
    line-height: 26px;
    font-size: 18px;
    color: #061C3D;
}
.section-six .sliderClients .slide{
    padding: 0 12px;
    transition: 0.3s;
}
.section-six .sliderClients .slick-slide .slide {
    transform: scale(0.95);
    border-radius: 24px;
}
.section-six .sliderClients .slick-current.slick-active .slide .card-client {
    transform: scale(1.1);
}
.section-six .sliderClients .slick-active{
    opacity: 1;
}

@media (max-width:1396.36px) {
    .section-six .card-client .card-text{font-size: 16px;}
}
@media (max-width:1024px) {
  .section-six .sliderClients{margin-top: 32px;}
}
@media (max-width:877.71px) {
    .section-six .card-client .card-text{font-size: 14px;line-height: 22px;}
    .section-six .sliderClients{margin-top: 32px;}
    .section-six .card-client{gap: 16px;}
}
@media (max-width:614.4px) {
    .section-six .arrow-slider .arrow-sliderImg{padding: 12px;}
    .section-six .arrow-slider .arrow-sliderImg img{width: 20px;}
    .section-six .sliderClients{margin-top: 16px;}
    .section-six .fx-head-title{padding: 0 20px;}
    .section-six-container{padding: 0px;}
    .section-six .sliderClients .slick-current.slick-active .slide .card-client {
        transform: scale(1);
    }
}
/* Section Seven */
.section-seven{
    margin-top: 100px;
    margin-bottom: 2rem;
}
.section-seven-container{
    width: 80%;
    margin: auto;
}
.section-seven .fx-tilte-blue{margin-bottom: 10px;}
    .section-seven .head-title{width: 80%;}
 .arrow-slider {
    display: flex;
    align-items: center;
    gap: 16px;
}
 .arrow-slider .ArrowRightClient {
    transform: rotate(180deg);
}
.section-seven .sliderArticles{margin-top:40px;}
.section-seven .sliderArticles .slide{padding: 15px;}
.section-seven .card-article{
    border-radius:  65px 65px 20px 20px;
    border: 1px solid var(--200, #E3DBD8);
}
.section-seven .card-article-texts{
    padding: 20px 40px;
}
.section-seven .article-img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}
.section-seven .fx-titles-articles{
   margin-bottom: 20px;
}
.section-seven .fx-titles-articles .title-articles{gap: 5px;}
.section-seven .card-article h3{
    color: #061C3D;
    font-size: 20px;
    line-height: 30px; 
    margin-bottom: 10px;
}
.section-seven .card-article p{
    color:#727272;
    font-size: 15px;
    line-height: 28px;
}
@media (max-width:1396.36px) {
     .section-seven .card-article-texts{padding: 20px;}
}
@media (max-width:1228.8px) {
  .section-seven .card-article h3{font-size: 20px;line-height: 25px;}
    .section-seven .card-article p{font-size: 13px;line-height: 22px;}
    .section-seven .href-a{margin-top: 24px;}
    .section-seven .article-img{height: 250px;}
    .section-seven-container{width: 90%;}
}
@media (max-width:1024px) {
    .section-seven-container{width: 85%;}
    .section-seven .card-article h3{font-size: 18px;}
}
@media (max-width:768px) {
 .section-seven-container{width: 100%;}
} .section-seven .fx-head-title{padding: 0 20px;}
@media (max-width:614.4px) {
 .section-seven .head-title{width: 100%;}

 .fx-head-title{gap: 4px;}
 .section-seven .sliderArticles{margin-top:8px;}    
}
