
/* Section Six */
.section-six{margin-bottom: 50px;}
.section-six .arrow-slider{
    display: flex;
    align-items: center;
    gap: 16px;
}
.section-six .arrow-slider .arrow-sliderImg{
    border-radius: 150px;
    background: #F0F5FF;
    padding: 16px;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-six .arrow-slider .arrow-sliderImg img{
    width: 30px;
}
.section-six .arrow-slider  .ArrowRightClient{transform: rotate(180deg);}
.section-six .arrow-slider .arrow-sliderImg:hover{
    background: #00CFFF;
    transform: scale(0.9);
}
.section-six .arrow-slider .arrow-sliderImg:hover img{filter: brightness(0) invert(1);}
.section-six .sliderClients{margin-top: 48px;}
.section-six .fx-card-client{
    gap: 12px;
    align-items: center;
}
.section-six .card-client{
    border-radius: 24px;
    padding: 40px 40px 54px 40px;
    gap: 24px;
}
.section-six .card-client.backColor1{background: #FFF9EE;}
.section-six .card-client.backColor2{background: #E7F5E8;}
.section-six .card-client.backColor3{background: #F5F6F7;}
.section-six .card-client.backColor4{background: #F0F5FF;}
.section-six .card-client.backColor5{background: #F1EBFF;}
.section-six .card-client .img-client{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.section-six .card-client .card-client-texts h4{
    color:  #061C3D;
    font-size: 1rem;
    line-height: normal;
}
.section-six .card-client .card-client-texts p{
    color:  #42526B;
    font-size: 14px;
}
.section-six .card-client .card-client-texts p span{color: #141CA4;}
.section-six .card-client .card-text{
    line-height: 26px;
    font-size: 18px;
    color: #061C3D;
}
.section-six .sliderClients .slide{
    padding: 0 12px;
    transition: 0.3s;
}
.section-six .sliderClients .slick-slide .slide {
    transform: scale(0.95);
    border-radius: 24px;
}
.section-six .sliderClients .slick-current.slick-active .slide .card-client {
    transform: scale(1.1);
}
.section-six .sliderClients .slick-active{
    opacity: 1;
}

@media (max-width:1396.36px) {
    .section-six .card-client .card-text{font-size: 16px;}
}
@media (max-width:1024px) {
  .section-six .sliderClients{margin-top: 32px;}
}
@media (max-width:877.71px) {
    .section-six .card-client .card-text{font-size: 14px;line-height: 22px;}
    .section-six .sliderClients{margin-top: 32px;}
    .section-six .card-client{gap: 16px;}
}
@media (max-width:614.4px) {
    .section-six .arrow-slider .arrow-sliderImg{padding: 12px;}
    .section-six .arrow-slider .arrow-sliderImg img{width: 20px;}
    .section-six .sliderClients{margin-top: 16px;}
    .section-six .fx-head-title{padding: 0 20px;}
    .section-six-container{padding: 0px;}
    .section-six .sliderClients .slick-current.slick-active .slide .card-client {
        transform: scale(1);
    }
}
