.aboutUsS1{
    padding: 7rem 0 3.7rem 0;
}
.aboutUsS1 .aboutUsS1-container h1{margin-bottom: 1rem;}
.aboutUsS1 .aboutUsS1-container p{
    line-height: 172%; 
    width: 60%;
    margin: auto;
    margin-bottom:48px;
}
.aboutUsS1 .aboutUsS1-container .imagesInLogo{
    width: 100%;
}
@media (max-width:614.4px) {
    .aboutUsS1{padding: 1rem 0 1rem 0;}
    .aboutUsS1 .aboutUsS1-container p{width: 100%;margin-bottom: 24px;}
}
/* about Us Section 2 */
.aboutUsS2 .fxAboutUsS2{
    gap: 86px;
    align-items: center;
}
.aboutUsS2 .aboutUsS2-texts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
.aboutUsS2 .aboutUsS2-texts h2{
    line-height: 115.385% ;
}
.aboutUsS2 .aboutUsS2-texts p{
    line-height: 140% ;
}
.aboutUsS2 .aboutUsS2-texts .aboutUsIcon{width: 20%;}
.aboutUsS2 .aboutUsS2-texts .Quotation{
    width: 80px;
}
.aboutUsS2 .divImgs{
    position: relative;
    width: 50%;
    height: 625px;
}
.aboutUsS2 .divImgs img{
    width: 100%;
    height:100% ;
    border-radius: 62.204px;
    display: block;
}
.aboutUsS2 .divImgs::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(16, 33, 102, 0.32) 0%, rgba(16, 33, 102, 0.80) 100%);
    z-index: 1;
    border-radius: 62.204px;
}
.aboutUsS2 .divImgs .logoWhite-eta{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:  60%;
    height: 100%;
    z-index: 10;
    border-radius: 0;
    object-fit: contain;
}
.aboutUsS2 .fxCardNumbers{
    gap: 24px;
    background-color: #EFF6FF;
    border: 0.321px solid #8DC4E9;
    padding: 30px 0;
     border-radius: 24px;
     margin-bottom:6.2rem ;
}
.aboutUsS2 .fxCardNumbers .cardNumbers{
    flex: 1 1 calc(25% - 24px);
    max-width: calc(25% - 0px);
    background: transparent;
}
.aboutUsS2 .fxCardNumbers .cardNumbers img{
    object-fit: contain;
    width: 20%;
    margin-bottom: 1rem;
}
.aboutUsS2 .fxCardNumbers .cardNumbers h3{
    margin-bottom: 1rem;
}
.aboutUsS2 .fxCardNumbers .cardNumbers p{
    color: #407FDA;
}
@media (min-width:1706.67px) {
    .aboutUsS2 .divImgs{height: 680px;}
    .aboutUsS2 .aboutUsS2-texts p{line-height: 150%;}
}
@media (min-width:1920px) {
    .aboutUsS2 .divImgs{height: 720px;}
    .aboutUsS2 .aboutUsS2-texts p{line-height: 170%;}
}
@media (max-width:1396.36px) {
    .aboutUsS2 .divImgs{height: 600px;}
}
@media (max-width:1228.8px) {
    .aboutUsS2 .divImgs{height:550px;}
    .aboutUsS2 .aboutUsS2-texts .Quotation{width: 70px;}
    .aboutUsS2 .fxAboutUsS2{gap: 50px;}
}
@media (max-width:1024px) {
    .aboutUsS2 .aboutUsS2-texts .Quotation{width: 50px;}
    .aboutUsS2 .divImgs{height:450px;}
    .aboutUsS2 .aboutUsS2-texts h2{font-size: 32px;}
    .aboutUsS2 .fxAboutUsS2{gap: 32px;}
    .aboutUsS2 .fxCardNumbers{margin-bottom: 4rem;}
    .aboutUsS2 .fxCardNumbers .cardNumbers{padding: 16px;}
    .aboutUsS2 .fxCardNumbers .cardNumbers img{width: 22%;margin-bottom: 0.5rem;}
}
@media (max-width:877.71px) {
    .aboutUsS2 .divImgs{height:370px;}
    .aboutUsS2 .divImgs img{border-radius: 32.204px;}
    .aboutUsS2 .divImgs::before {border-radius: 32.204px;}
    .aboutUsS2 .aboutUsS2-texts h2{font-size: 24px;}
    .aboutUsS2 .aboutUsS2-texts p{font-size: 14px;line-height: 170%;}
    .aboutUsS2 .fxAboutUsS2{gap: 24px;}
    .aboutUsS2 .fxCardNumbers{gap: 16px;margin-bottom: 3rem;}
    .aboutUsS2 .fxCardNumbers .cardNumbers{
        flex: 1 1 calc(25% - 16px);
        max-width: calc(25% - 0px);
    }
}
@media (max-width:768px) {
    .aboutUsS2 .divImgs{height:340px;}
    .aboutUsS2 .fxCardNumbers{gap: 8px;}
    .aboutUsS2 .fxCardNumbers .cardNumbers{
        flex: 1 1 calc(25% - 8px);
        max-width: calc(25% - 0px);
    }
}
@media (max-width:614.4px) {
    .aboutUsS2 .divImgs{width: 100%;}
    .aboutUsS2 .aboutUsS2-texts{width: 100%;gap: 14px;}
    .aboutUsS2 .fxAboutUsS2{flex-direction: column;}
    .aboutUsS2 .divImgs img{border-radius: 30px;}
    .aboutUsS2 .divImgs::before{border-radius: 30px;}
    .aboutUsS2 .fxCardNumbers{margin-top: 24px;}
    .aboutUsS2 .fxCardNumbers .cardNumbers{
        flex: 1 1 calc(50% - 8px);
        max-width: calc(50% - 0px);
    }
    .aboutUsS2 .fxCardNumbers .cardNumbers p{font-size: 12px;}
    .aboutUsS2 .fxCardNumbers .cardNumbers img{width:35%;}
    .aboutUsS2 .aboutUsS2-texts .aboutUsIcon{width: 30%;}
}
/* about Us Section 3 */
.aboutUsS3{
    margin: 100px 0;
}
.aboutUsS3 .headTitles{
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
}
.aboutUsS3 .headTitles img{margin-bottom: 0.5rem;}
.aboutUsS3 .fxAboutUsS3{
    gap: 2rem;
}
.aboutUsS3 .fxAboutUsS3 .box{
    border-radius: 40px;
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.aboutUsS3 .fxAboutUsS3 .boxTwo{background-color: #D6F7FF;}
.aboutUsS3 .fxAboutUsS3 .boxOne{background-color:#EFF6FF ;}
.aboutUsS3 .fxAboutUsS3 .box .divText{
    padding: 60px 60px 0 60px; 
    width: 50%;
}
.aboutUsS3 .fxAboutUsS3 .box h1{
  line-height: 120%;
  margin-bottom: 1rem;
}
.aboutUsS3 .fxAboutUsS3 .box p{
    line-height: 128.571%;
}
.aboutUsS3 .fxAboutUsS3 .box .divImage{
    width: 50%;
}
.aboutUsS3 .fxAboutUsS3 .box img{
    position: relative;
    width: 70%;
    display: block;
    margin: auto;
}
@media (min-width:1920px) {
    .aboutUsS3 .fxAboutUsS3 .box img{bottom: -4rem;}
}
@media (max-width:1228.8px) {
    .aboutUsS3 .fxAboutUsS3{gap: 40px;}
    .aboutUsS3 .fxAboutUsS3 .box .divText{padding: 50px 50px 0 50px; }
}
@media (max-width:1024px) {
    .aboutUsS3 .fxAboutUsS3 .box .divText{padding: 32px 32px 0 32px; }
    .aboutUsS3 .fxAboutUsS3{gap: 32px;}
    .aboutUsS3 .headTitles{width: 60%;}
}
@media (max-width:877.71px) {
    .aboutUsS3 .fxAboutUsS3 .box .divText{padding: 24px 24px 0 24px; }
    .aboutUsS3 .fxAboutUsS3{gap: 24px;}
    .aboutUsS3{margin: 60px 0;}
}
@media (max-width:614.4px) {
    .aboutUsS3{margin: 70px 0;}
    .aboutUsS3 .fxAboutUsS3 .box{width: 100%;flex-direction: column;}
    .aboutUsS3 .fxAboutUsS3 .box .divText,
    .aboutUsS3 .fxAboutUsS3 .box .divImage{ width: 100%;}
    .aboutUsS3 .fxAboutUsS3 .box .divText{order: 1;}
    .aboutUsS3 .fxAboutUsS3 .box .divImage{order: 2;}
    .aboutUsS3 .headTitles{width: 90%;margin-bottom: 1.5rem;}
    .aboutUsS3 .headTitles img{width: 45%;}
}
@media (max-width:512px) {}
/* About Us Section 4 */
.aboutUsS4{
    background: #EFF6FF;
    padding: 5rem 0;
    margin-top: 6.2rem;
}
.aboutUsS4 .fxAboutUsS4{
    gap: 64px;
    align-items: center;
}
.aboutUsS4 .aboutUsS4-texts{
    width: 50%;
}
.aboutUsS4 .aboutUsS4-texts .aboutUsIcon{margin-bottom: 0.5rem;}
.aboutUsS4 .aboutUsS4-texts h1{
    margin-bottom: 1rem;
    line-height: 115.385%;
}
.aboutUsS4 .aboutUsS4-texts span{
    margin-bottom: 48px;
    line-height: 144.444%;
    display: block;
}
.aboutUsS4 .aboutUsS4-texts p{
    line-height:146.667%;
}
.aboutUsS4 .circle-container {
    position: relative;
    width: 50%;
    height: 90vh;
    background-image: url(../../images/aboutUsNew/backSliderDates.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.aboutUsS4 #circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}  
.aboutUsS4 .controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    gap: 15px;
    font-size: 20px;
}
.aboutUsS4 .controls button {
    background: none;
}
.aboutUsS4 .circle-dot {
    fill:  #FFF;
    stroke-width: 0.5px;
    transition: all 0.3s ease;
    position: relative;
    stroke:#fff;
}
.aboutUsS4 .circle-dot.active {
    fill:  #FFF;
    border: 1px solid #141CAF;    
    stroke: #141CAF;
    stroke-width: 0.5;
    opacity: 1;
}
.aboutUsS4 .controls #year{
    font-family:"29LT Zeyn";
    font-size: 128px;
    font-weight: 500;
    line-height: 120%; 
    color: #102587;
}
.aboutUsS4 .dot-center {transition: fill 0.3s ease;}
.aboutUsS4 #main-circle{opacity: 0.5;}
@media (min-width:1706.67px) {
    .aboutUsS4 .controls button img{width: 60px;}
    .aboutUsS4 .controls #year{font-size: 148px;}
}
@media (min-width:1920px) {
    .aboutUsS4 .controls button img{width: 70px;}
    .aboutUsS4 .controls #year{font-size: 155px;}
 
}
@media (min-width:2048px) {
    .aboutUsS4 .controls button img{width: 80px;}
    .aboutUsS4 .fxAboutUsS4 .circle-container{height: 70vh;}
}
@media (min-width:2304px) {
    .aboutUsS4 .fxAboutUsS4 .circle-container{height: 50vh;}
}
@media (min-width:3072px) {
     .aboutUsS4 .fxAboutUsS4 .circle-container{height: 40vh;}
}
@media (min-width:6144px) {
     .aboutUsS4 .fxAboutUsS4 .circle-container{height: 30vh;}
}
@media (max-width:1396.36px) {
    .aboutUsS4 .aboutUsS4-texts span{margin-bottom: 32px;}
    .aboutUsS4 .controls #year{font-size: 100px;}
}
@media (max-width:1228.8px) {
    .aboutUsS4 .aboutUsS4-texts span{margin-bottom: 24px;}
    .aboutUsS4 .controls #year{font-size: 90px;}
    .aboutUsS4 .controls button img{width: 40px;}
    .aboutUsS4{padding: 4rem 0;margin-top: 4.2rem;}
}
@media (max-width:1024px) {
    .aboutUsS4 .controls button img{width: 30px;}
    .aboutUsS4 .controls #year{font-size:70px;}
    .aboutUsS4{padding: 3rem 0;margin-top: 3.2rem;}
}
@media (max-width:877.71px) {
    .aboutUsS4 .aboutUsS4-texts p{font-size: 13px;}
    .aboutUsS4 .controls #year{font-size:60px;}
    .aboutUsS4{padding: 2rem 0;}
}
@media (max-width:768px) {}
@media (max-width:614.4px) {
    .aboutUsS4 .fxAboutUsS4{flex-direction: column;gap: 24px;}
    .aboutUsS4 .aboutUsS4-texts,
    .aboutUsS4 .circle-container{width: 100%;}
    .aboutUsS4 .circle-container{height: 50vh;}
    .aboutUsS4 .controls #year{font-size:40px;}
    .aboutUsS4 .aboutUsS4-texts .aboutUsIcon{width: 30%;}
}
@media (max-width:512px) {}

