/* Contact Form Section  Style*/
.contactFormSection{margin: 100px 0;}
.contactFormSection .divTitle{
    width: 45%;
    margin: auto;
    gap: 16px;
    margin-bottom: 30px;
}
.contactFormSection .divTitle h1{
    line-height: 136.364% ; 
    letter-spacing: -0.88px;
}
.contactFormSection .divTitle p{
    line-height:130%;
}
.contactFormSection .fx-contactFormSection{
    border-radius: 28px;
    border: 1px solid #8DC4E9;
    background: #F5FAFF;
    box-shadow: 0px 0px 6px 2px rgba(211, 211, 211, 0.25);
    padding: 24px;
    gap: 24px;
    align-items: center;
}
.contactFormSection .divInformation{
    border-radius: 12px;
    background: linear-gradient(181deg, #193AB2 -3.88%, #B7F8FF 99.09%);
    padding: 20px;
    width: 33%;
}
.contactFormSection .divInformation .fxHeadContact{margin-bottom: 20px;justify-content: space-between;gap: 93px;}
.contactFormSection .divInformation .fxHeadContact img{
    width: 20%;
}
.contactFormSection .divInformation .textHead h3{line-height:140%;margin-bottom: 5px;}
.contactFormSection .divInformation .textHead p{line-height: 140%;}
.contactFormSection .divInformation .boxInfo{
    border-radius: 12px;
    border: 2px solid #FFF;
    background: #F0F8FF;
    box-shadow: 0px 4px 24px 0px rgba(184, 207, 224, 0.08);
    padding: 16px;
    gap: 12px;
    margin-bottom: 12px;
}
.contactFormSection .divInformation .boxInfoOne .fx-textDiv{
    gap:12px;
}
.contactFormSection .divInformation .boxInfo:last-child{margin-bottom: 0;}
.contactFormSection .divInformation .boxInfo .boxInfo-text h4{line-height: 140%;margin-bottom: 8px;}
.contactFormSection .divInformation .boxInfo .textDiv{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.contactFormSection .divInformation .boxInfo .boxInfo-text h5{
    line-height: 100%;
    letter-spacing: -0.34px;
}
.contactFormSection .divInformation .boxInfo .boxInfo-text p{
    line-height: 145%;
}
.contactFormSection .divForm{
    width: 67%;
}
.contactFormSection .divForm h3{
    background: linear-gradient(90deg, #2244B6 0%, #9ED9F3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 118.75%;
    margin-bottom: 8px;
}
.contactFormSection .divForm span{line-height:140% ;margin-bottom: 8px;}
.contactFormSection .divForm p{line-height: 140%;margin-bottom:1rem;}
.contactFormSection .divForm .fx-general-cards{
    gap: 16px;
    row-gap: 24px;
    align-items: end;
}
.contactFormSection .divForm .form-group.w50{
    flex: 1 1 calc(50% - 24px);
    max-width: calc(50% - 0px);
}
.contactFormSection .divForm .form-group.w100{
    flex: 1 1 calc(100% - 24px);
    max-width: calc(100% - 0px);
}
.contactFormSection .divForm .form-group label{
    line-height: 125%;
    margin-bottom: 10px;
    display: block;
}
.contactFormSection .divForm .form-group label span{
    color: #A0A0A0;
    font-size: 12px;
    line-height: normal;
}
.contactFormSection .divForm .styleInput,
.contactFormSection .divForm .styleInputDate,
.contactFormSection .divForm .inputDesign{
    border-radius: 8px;
    border: 1px solid #8DC4E9;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    height: 44px;
    cursor: pointer;
    color: #000;
}
.contactFormSection .divForm .inputDesign{width: 100%;background: transparent;}
.contactFormSection .divForm .styleInput input,
.contactFormSection .divForm .styleInputDate input{
    background: transparent;
    border: none;
    width: 80%;
    cursor: pointer;
}
.contactFormSection .divForm .divSelect,
.contactFormSection .divForm .divSelectDate{position: relative;}
.contactFormSection .divForm .divSelect .menuSelect,
.contactFormSection .divForm .divSelectDate .menuSelectDate{
    flex-direction: column;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid #EFEFEF;
    background: #FFF;
   width: 100%;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);
    padding: 20px;position: absolute;top: 100%;
    z-index: 1000;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    opacity: 0;
    display: none;
    transition: opacity 0.3s ease;
}
.contactFormSection .divForm .divSelect .menuSelect.show ,
.contactFormSection .divForm .divSelectDate .menuSelectDate.active{
    display: flex;
    opacity: 1;
}
.contactFormSection .divForm .divSelect .menuSelect span{
    display: block;
    padding-bottom: 12px;
    border-bottom: 1px solid #EFEFEF;
    margin-bottom: 0;
    line-height: 100%;
    letter-spacing: -0.34px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contactFormSection .divForm .divSelect .menuSelect span:hover{
   color: #193AB2;
}
.contactFormSection .divForm .divSelect .menuSelect span:last-child{
    border: none;
    padding-bottom: 0;
}
/* Calendar styles */
.flatpickr-calendar span,
.flatpickr-calendar select option,
.flatpickr-calendar select,
.flatpickr-calendar input{font-family: 'Dubai';}
.contactFormSection .divForm .form-group .boxUpload{
    border-radius: 8px;
    border: 1px solid #8DC4E9;
    padding: 12px;
    align-items: center;
    cursor: pointer;
    gap: 16px;
    transition: all 0.3s ease;
}
.contactFormSection .divForm .form-group .boxUpload:hover{
    transform: scale(0.99);
}
.contactFormSection .divForm .form-group .boxUpload h5{
    color: #444;
    margin-bottom: 4px;
}
.contactFormSection .divForm .form-group .boxUpload p{
    color: #7C7C7C;

}
.contactFormSection .divForm .form-group textarea{
    border-radius: 8px;
    border: 1px solid #8DC4E9;
    padding: 12px;
    height: 185px;
    width: 100%;
}
.contactFormSection .divForm .form-group .linearBlue{
    border-radius: 8px;
    height: 55px;
    width: 100%;
    transition: background 0.3s ease;
    background: linear-gradient(90deg, #2042B5 0%, #A8E5F7 100%);
}
.contactFormSection .divForm .form-group .linearBlue:hover{
    background: linear-gradient(90deg, #2042B5 0%, #2042B5 100%);
}
#fileInfo{
    margin-top: 8px;
}
#fileInfo p{
    font-family: 'Dubai';
    letter-spacing: 0.5px;
    font-size: 16px;
    margin-bottom: 0;
    color: #2042B5;
}
#fileInfo img {
    max-width: 200px;
    object-fit: contain;
    display: block;
}
@media (min-width:1706.67px) {
    .contactFormSection .divForm .form-group .linearBlue{height: 65px;}
    .contactFormSection .divForm .styleInput, .contactFormSection .divForm .styleInputDate,
    .contactFormSection .divForm .inputDesign{height: 54px;}
    .contactFormSection .divForm .form-group .boxUpload{padding: 16px;}
    #fileInfo p{font-size: 18px;}
}
@media (min-width:1920px) {
    .contactFormSection .divForm .form-group .linearBlue{height: 75px;}
    .contactFormSection .divForm .styleInput, .contactFormSection .divForm .styleInputDate,
    .contactFormSection .divForm .inputDesign{height: 64px;}
    .contactFormSection .divForm .form-group .boxUpload{padding: 20px;}
    .contactFormSection .divInformation .boxInfo .imgPart img{width: 70px;}
    #fileInfo p{font-size: 20px;}
}
@media (max-width:1228.8px) {
    .contactFormSection .divInformation{padding: 20px;}
    .contactFormSection .divInformation .boxInfo .imgPart img{width: 40px;}
    .contactFormSection .divForm .form-group textarea{-ms-high-contrast-adjust: 160px;}
    .contactFormSection .divForm .form-group .linearBlue{height: 50px;}
    .contactFormSection .divInformation .fxHeadContact{gap: 70px;}
}
@media (max-width:1024px) {
    .contactFormSection .divInformation{padding: 16px;}
    .contactFormSection .divInformation .boxInfo{padding: 12px;}
    .contactFormSection .divInformation .boxInfo .boxInfo-text p{line-height: 135%;}
    .contactFormSection .divForm .styleInput, .contactFormSection .divForm .styleInputDate,
    .contactFormSection .divForm .inputDesign{height: 38px;}
    .contactFormSection .divForm .form-group textarea{height: 150px;}
    .contactFormSection .divForm .form-group .boxUpload .divImageUpload img{width: 45px;}
    .contactFormSection .divForm .form-group .linearBlue{height: 45px;}
    #fileInfo p{font-size: 13px;}
    .contactFormSection .divInformation .fxHeadContact{gap: 50px;}
    .contactFormSection .divForm .fx-general-cards{row-gap: 16px;}
}
@media (max-width:877.71px) {
    #fileInfo p{font-size: 12px;}
    .contactFormSection .divInformation .fxHeadContact{gap:32px;margin-bottom: 16px;}
    .contactFormSection .divInformation .fxHeadContact img{width: 15%;}
    .contactFormSection .divInformation .textHead h3{font-size: 14px;}
    .contactFormSection .divInformation .boxInfo .imgPart img{width: 30px;}
    .contactFormSection .divForm .fx-general-cards{row-gap: 8px;}
}
@media (max-width:768px) {
    #fileInfo p{font-size: 11px;}
    .contactFormSection .divInformation .boxInfo{flex-direction: column;gap: 8px;}
    .contactFormSection .divInformation .fxHeadContact{gap: 24px;}
}
@media (max-width:614.4px) {
    .contactFormSection{margin: 70px 0;}
    .contactFormSection .fx-contactFormSection{flex-direction: column;padding: 16px;}
    .contactFormSection .divForm .form-group.w50{
        flex: 1 1 calc(100% - 24px);
        max-width: calc(100% - 0px);
    }
    .contactFormSection .divForm .form-group.w100{
        flex: 1 1 calc(100% - 24px);
        max-width: calc(100% - 0px);
    }
    .contactFormSection .divInformation{width: 100%;}
    .contactFormSection .divForm{width: 100%}
    .contactFormSection .subtitle16px,
    #fileInfo p{font-size: 13px;}
    .contactFormSection .divTitle{width: 100%;}
}
@media (max-width:512px) {}