/* Section Five */
.section-five{
    background-image: url('../../images/back-section5.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    margin-bottom: 100px;
    position: relative;
}
.section-five .section-five-container{margin: auto;width: 85%;}
.section-five .fx-head{gap: 24px;align-items: center;}
.section-five .fx-head .fx-head-texts{width: 75%;}
.section-five .subtitle-one{margin-bottom: 24px;}
.section-five .subtitle-two{
    width: 70%;
}
.section-five .fx-section-five{
    gap: 16px;
    width: 100%;
    margin: auto;
    align-items: normal;
    margin-top: 80px;
}

.card-team{
    flex: 1 1 calc(33.3% - 16px);
    max-width: calc(33.3% - 16px);
    border-radius: 16px;
    border: 1px solid var(--Gray-50, #F5F6F7);
    background: var(--Gray-00, #FFF);
    padding: 34px 24px 24px 24px;
    text-align: center;
}
.card-team .image-person{
    width: 124px;
    height: 124px;
    border-radius: 124px;
    object-fit: cover;
    margin-bottom: 20px;
}
.card-team h3{
    color: #061C3D;
    font-size: 20px;
    letter-spacing: -0.24px;
}
.card-team p{
    color: #6A778B;
    font-size: 1rem;
    line-height: 24px; 
}
.card-team .fx-card-links{
    gap: 8px;
    padding-top: 24px;
    margin-top: 24px;
    border-top: 1px solid #E6E8EC;
}
.card-team .fx-card-links img{
    padding: 8px;
    transition: 0.3s;
}
.card-team .fx-card-links img:hover{
    background: #f5f5f5;
    transform: scale(0.9);
    border-radius: 8px;
}
.section-five .card-team-abs .image-person{
  border-radius: 50%;
  margin-bottom: 4px;
  width: 60%;
  height: 130px;
  object-fit: cover;
}
.section-five .card-team-abs h3{font-size: 22px;}
.section-five .card-team-abs p{font-size: 1.1rem;}
.section-five .card-team-abs .fx-card-links{margin-top: 16px;padding-top: 16px;}
@media (min-width:1706.67px) {
    .section-five .section-five-container{width: 80%;}
    .section-five .card-team-abs .image-person{height: 150px;}
}
@media (min-width:1920px) {
    .section-five .card-team-abs .image-person{height: 160px;}
}
@media (min-width:2048px) {
    .section-five .card-team-abs .image-person{height: 180px;}
}
@media (max-width:1396.36px) {
    .section-five .section-five-container{width: 85%;}
    .card-team p{font-size: 0.8rem;}
}
@media (max-width:1228.8px) {
    .section-five .card-team-abs {max-width: calc(30% - 0px);}
    .section-five .fx-head .fx-head-texts{width: 70%;}
    .section-five .fx-section-five{margin-top: 50px;}
   .card-team {
        flex: 1 1 calc(23% - 24px);
        max-width: calc(23% - 0px);
    }
    .card-team h3{font-size: 18px;}
    .card-team p{font-size: 14px;}
    .card-team .image-person {width: 100px;height: 100px;margin-bottom: 16px;}
    .card-team .fx-card-links img{padding: 6px;}
    .section-five .subtitle-two{width: 55%;}
}
@media (max-width:1024px) {
    .section-five .card-team-abs {max-width: calc(35% - 0px);}
    .section-five .fx-head .fx-head-texts{width: 65%;}
    .section-five .card-team-abs .fx-card-links{gap: 16px;}
    .section-five .card-team-abs .fx-card-links img{width: 35px;}
    .section-five .subtitle-two{width: 90%;}
    .section-five .section-five-container{width: 90%;}
    .card-team h3{font-size: 16px;}
    .card-team p{font-size: 12px;}
    .card-team .image-person {width: 80px;height:80px;margin-bottom: 16px;}
    .card-team .fx-card-links img{padding: 6px;}
    .card-team .fx-card-links{padding-top: 16px;margin-top: 16px;gap: 8px;}
     .card-team .fx-card-links img{width: 28px;}
}
@media (max-width:877.71px) {
   .card-team {
        flex: 1 1 calc(33.3% - 24px);
        max-width: calc(33.3% - 0px);
    }
}
@media (max-width:614.4px) {
    .section-five{padding-top: 0;}
    .section-five-container{padding: 0 20px;}
    .section-five .fx-head{flex-direction: column;}
    .section-five .fx-head .card-team-abs{max-width: calc(90% - 0px);}
     .section-five .section-five-container,
     .section-five .fx-head .fx-head-texts{width: 100%;}
     .section-five .fx-head .fx-head-texts{order: 1;}
     .section-five .fx-head .card-team-abs{order: 2;}
     .section-five .card-team-abs .image-person{margin-bottom: 1rem;}
     .section-five .card-team-abs h3{margin-bottom: 0.3rem;font-size: 18px;}
     .section-five .subtitle-two{text-align: center;width: 100%;}
     .section-five .subtitle-one{ text-align: center;margin-bottom: 16px;}
    .card-team {
        flex: 1 1 calc(50% - 24px);
        max-width: calc(50% - 0px);
        padding:16px 8px;
    }
    .card-team p{font-size: 11px;line-height: 14px;}
    .card-team h3 {
        font-size: 14px;
        line-height: 22px;
    }
    .card-team .fx-card-links{flex-wrap: wrap;gap: 16px;}
    .section-five .fx-section-five{gap: 16px;align-items: normal;}
     .card-team .fx-card-links img{
            flex: 1 1 calc(50% - 16px);
            max-width: calc(50% - 0px);
            width: 35px;
            padding: 0px;
     }
     .section-five .card-team-abs .image-person{height: 100px;}
}

.section-five{background-image: url('../../images/backSectionFive.png');}
.section-five .textSubtitle{
    line-height: 134.375%;
    letter-spacing: -0.64px;
    margin-top: 40px;
}
.section-five .section-five-container{
    padding-top: 6rem;
}
.section-five .card-team{
    padding: 20px;
    border-radius: 49px;
    border: 1px solid #EFF6FF;
    background:#FFF;
    flex: 1 1 calc(25% - 16px);
    max-width: calc(25% - 16px);
    cursor: pointer;
}
.card-team .image-person{
    height: 229px;
    width: 100%;
    border-radius: 36px;
    margin-bottom: 0;
}
.card-team .fx-card-links{
    padding-top: 0;
    margin-top: 0;
    border-top: 0;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(22px);
   position: relative;
   bottom: 1rem;
   width: max-content;
   margin: auto;
   gap: 0;
}
.card-team .fx-card-links img{
    width: 100%;
    height: 100%;
    padding: 8px 12px;
}
.section-five .fx-section-five{margin-top: 16px;}
/* new Card in Section Five */
.leaderCard {
    margin-top: 2rem;
    border: 1px solid #EFF6FF;
    background: var(--Gray-00, #FFF);
    border-radius: 40px;
    width: 80%;
    padding: 20px;
    gap: 42px;
    align-items: center;
    cursor: pointer;
}
.leaderCard .divImgs{
    width: 37%;
    position: relative;
    max-height: 100%;
}
.leaderCard .divImgs .leaderImage{
    width: 100%;
    min-height:270px ;
    max-height: 100%;
    object-fit: cover;
    border-radius: 36px;
}
.leaderCard .divImgs .linkedinIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 94%;
    background-color: #FAFAFA;
    border-radius: 15px;
}
.leaderCard .divText{width: 63%;}
.leaderCard .divText h4{
    line-height: 87.5% ; 
    letter-spacing: -0.384px;
    margin-bottom: 6px;
}
.leaderCard .divText span{margin-bottom: 20px;}
.leaderCard .divText p{
    line-height: 133.333%;
    -webkit-line-clamp: 3;
}
@media (min-width:1706.67px) {
    .card-team .image-person{height: 250px;}
    .leaderCard .divImgs .leaderImage{min-height: 300px;}
}
@media (min-width:1920px) {
    .card-team .image-person{height: 280px;}
    .leaderCard .divImgs .leaderImage{min-height: 330px;}
    .leaderCard .divImgs .linkedinIcon img{width: 60px;}
    .section-five .card-team{
        flex: 1 1 calc(33.3% - 16px);
        max-width: calc(33.3% - 16px);
    }
}
@media (min-width:2048px) {
    .card-team .image-person{height:320px;}
}
@media (max-width:1396.36px) {
    .card-team .image-person{height: 200px;}
    .leaderCard .divImgs .leaderImage{min-height: 230px;}
}
@media (max-width:1228.8px) {
    .card-team .image-person{height: 180px;}
    .section-five .card-team{padding: 16px;}
    .leaderCard .divImgs .leaderImage{min-height: 220px;}
    .leaderCard{padding: 16px;gap: 32px;}
}
@media (max-width:1024px) {
    .section-five .card-team{
        padding: 12px;
        flex: 1 1 calc(33.3% - 16px);
        max-width: calc(33.3% - 16px);
    }
    .leaderCard{padding: 16px;gap: 24px;}
    .leaderCard .divImgs .leaderImage{min-height: 190px;}
    .leaderCard .divText span{margin-bottom: 16px;}
    .leaderCard .divImgs .linkedinIcon img{width: 35px;}
}
@media (max-width:877.71px) {
    .section-five .card-team{padding: 8px;}
    .leaderCard .divText span{margin-bottom: 12px;}
    .leaderCard .divImgs .linkedinIcon img{width: 30px;}
}
@media (max-width:768px) {
    .card-team .image-person{height: 220px;}
    .section-five .card-team{
        flex: 1 1 calc(50% - 16px);
        max-width: calc(50% - 16px);
    }
}
@media (max-width:614.4px) {
    .section-five .card-team{
        padding: 8px;
        border-radius: 16px;
    }
    .card-team .fx-card-links img{padding: 0px;}
    .card-team .image-person{
        height: 120px;
    }
    .card-team .fx-card-links{
        display: flex;
        flex-wrap: wrap;
        gap: 2px;
        padding: 4px;
    }
    .card-team .fx-card-links a{
        width: max-content;
        padding:0 2px;
    }
    .section-five{background-position: left;}
    .leaderCard {
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }
    .leaderCard .divImgs,
    .leaderCard .divText{width: 100%;}
    .leaderCard .divImgs .linkedinIcon {
        top: 90%;
        transform: translateX(-50%);
        left: 50%;
    }
    .leaderCard .divImgs .linkedinIcon img{width: 35px;}
    .section-five .section-five-container{padding-top: 5rem;}
    
}
@media (max-width:512px) {
}
/* Modal */
.modalUsers {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    width: 80%;
    max-height: 90vh;
    margin: auto;
    background: #fff;
    z-index: 6000;
    border-radius: 12px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    display: none;
    opacity: 1;
    transition: transform 0.3s ease;
}
.modalUsers.show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
.modalUsers .closeCircleBtn{
    position: absolute;
    right: 1%;
    background: none;
    top: 3%;
}
.modalUsers .closeCircleBtn img{width: 85%;}
.modalUsers .modal-content{
    padding: 40px;
    background: rgba(255, 255, 255, 1);
    border-radius: 36px;
    gap: 32px;
    align-items: normal;
}
.modalUsers .modal-content .divImage{
    width: 50%;
    max-height: auto;
    min-height: 600px;
}
.modalUsers .modal-content .divImage img{
    border-radius: 36px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.modalUsers .divText{width: 50%;}
.modalUsers .divText .styleText{margin-bottom: 1rem;}
.modalUsers .divText .styleText:last-child{margin-bottom: 0;}
.modalUsers .divText h2{
    color: rgba(6, 28, 61, 1);
    letter-spacing: -1.2%;
}
.modalUsers .divText h6{
    color: rgba(106, 119, 139, 1);
}
.modalUsers .divText .fxBtnsModal{
    gap: 14px;
    margin: 14px 0 24px 0;
}
.modalUsers .divText span{
    color: rgba(11, 99, 229, 1);
}
.modalUsers .divText p{
    color: rgba(6, 28, 61, 1);
    line-height:  140%;
}
@media (min-width:1706.67px) {
    .modalUsers .modal-content .divImage{min-height: 700px;}
}
@media (min-width:1920px) {
    .modalUsers .modal-content .divImage{min-height: 750px;}
}
@media (min-width:2048px) {
    .modalUsers .modal-content .divImage{min-height: 800px;}
}
@media (min-width:2304px) {
    .modalUsers{width: 65%;}
}
@media (min-width:3072px) {
    .modalUsers{width: 50%;}
}
@media (min-width:4608px) {
    .modalUsers{width: 30%;}
    .modalUsers .divText p,
    .modalUsers .divText span{font-size: 32px;}
}
@media (max-width:1396.36px) {
    .modalUsers .modal-content{padding: 35px;}
    .modalUsers .modal-content .divImage{min-height: 500px;}
}
@media (max-width:1228.8px) {
    .modalUsers .modal-content{padding: 30px;}
    .modalUsers .modal-content .divImage{min-height: 450px;}
    .modalUsers .closeCircleBtn img{width: 75%;}
    .modalUsers .divText .fxBtnsModal{margin: 12px 0 20px 0;}
}
@media (max-width:1024px) {
    .modalUsers .modal-content{padding: 25px;}
    .modalUsers .modal-content .divImage{min-height: 400px;}
    .modalUsers .closeCircleBtn img{width: 65%;}
    .modalUsers .divText .fxBtnsModal img{width: 35px;}
    .modalUsers .divText .fxBtnsModal{margin: 10px 0 1rem 0;}
}
@media (max-width:877.71px) {
    .modalUsers .modal-content{padding: 20px;}
    .modalUsers .modal-content .divImage{min-height: 400px;}
    .modalUsers .closeCircleBtn img{width: 50%;}
    .modalUsers .closeCircleBtn{top:2%;}
    .modalUsers .divText .fxBtnsModal img{width: 28px;}
    .modalUsers .divText .fxBtnsModal{margin: 10px 0 0.7rem 0;}
}
@media (max-width:768px) {
    .modalUsers .modal-content{padding: 1rem;gap: 24px;}
}
@media (max-width:614.4px) {
    .modalUsers .divText{width: 100%;}
    .modalUsers .modal-content .divImage{width: 100%;min-height: 100%;}
    .modalUsers .modal-content .divImage img{height: 200px;}
    .modalUsers .modal-content{flex-direction: column;}
    .modalUsers .closeCircleBtn{top: 2%;right: 0;}
    .modalUsers .closeCircleBtn img{background: #fff;border-radius: 50%;}
    .modalUsers .modal-content .divImage img{border-radius: 15px;}
}
@media (max-width:512px) {}